{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}

    <table class="records_list" id="table_component">
        <thead>
            <tr>
            	<th>{% trans %}app.admin.components.name{% endtrans %}</th>
                <th>{% trans %}app.admin.components.version{% endtrans %}</th>
                <th>{% trans %}app.admin.components.description{% endtrans %}</th>
                <th>{% trans %}app.admin.components.groups{% endtrans %}</th>
                <th>{% trans %}app.admin.components.enabled{% endtrans %}</th>
                <th> 
                	<a class="mlab_button_new_component" href="{{ path('component_new') }}" title="{% trans %}app.admin.components.tooltip.new{% endtrans %}"></a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {{ include( 'SinettMLABBuilderBundle:Component:show.html.twig', { 'entity': entity } ) }}
        {% endfor %}
        </tbody>
    </table>
|   {% endblock %}
