<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>MLAB Maintenance</title>
    </head>
    <body>
        <div style="background-color: #000000; padding: 20px"><img src="/img/logo_menu.png" alt="logo" /></div>
        <h1 style="text-align: center;">MLAB Maintenance</h1>
    </body>
</html>
