{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}
    <h4>{% trans %}app.system.admin.help.edit.heading{% endtrans %}</h4>

    {{ form(edit_form) }}

{% endblock %}
