body{
	margin: 0px;
}

#surround_all{
	margin: 0px;
	/* zoom: 50%; */
	height: 100%;
	
}

#header {
    background-image:  url('../img/contentpage_header_backgr.png');
    background-repeat: repeat-x;
    height:78px;
    position: relative;

}

#footer {
    height: 78px;
    position: relative;
	background-color: #1e1e1e;
}

#menu_button_logo_open_close, #menu_button_goto_index, #menu_button_toggle_color, #menu_button_toogle_fontsize, #menu_end_sloped_img {
    background-repeat: no-repeat;
    top: 19px; /* 39px = 3,6% */
    position: absolute;
    width: 59px; /* 117px = 10,8% */
    height: 59px;
    z-index: 2;
}

#menu_button_logo_open_close {
    background-image: url('../img/btn__01_logo.png');
    left: 19px;
}

#menu_button_goto_index {
    background-image: url('../img/btn__02_index.png');
    left: 78px;
}

#menu_button_toggle_color {
    background-image: url('../img/btn__03_color.png');
    left: 136px; /* 273px */
}


#menu_button_toogle_fontsize {
    background-image: url('../img/btn__04_size.png');
    left: 194px; /* 390px */
}


#menu_end_sloped_img {
    background-image: url('../img/btn__05_end.png');
    left: 252px; /* 507px */
}

#back_page.dark, #back_page.white {
	background-image: url('../img/contentpage_dark_backpage.png');
    background-repeat: no-repeat;
    width: 59px; /* 117px = 10,8% */
    min-height: 254px;
    z-index: 2;
    margin-left: 19px; /* 39px = 3,6% */
 	float: left;
}

#back_page.white {
	background-image: url('../img/contentpage_white_backpage.png');
}

#next_page.dark, #next_page.white {
	background-image: url('../img/contentpage_dark_nextpage.png');
    background-repeat: no-repeat;
    width: 59px; /* 117px = 10,8% */
    min-height: 254px;
    z-index: 2;
    margin-right: 19px; /* 39px = 3,6% */
 	float: right;
}

#next_page.white {
	background-image: url('../img/contentpage_white_nextpage.png');
}

#content_background.dark, #content_background.white {
	float: auto;
	width: auto;
	min-height: 254px;
	background-color: #1e1e1e;
	padding: 0 60px;
}

#content_background.white {
	background-color: #ffffff;
}

#main_content{
	float:none;
	margin-left:82px;
	margin-right:82px;
	width:auto;
	height:auto;
}

h1 {
	font-size: 40px;
	color: #cccccc;
	margin: 0;
}

p {
	font-size: 18px;
	color: #cccccc;
	margin: 0;
}
