{# Insert menu tools #}
    <button data-action="help.tutorial" class="toolbox-btn btn-lg" data-tooltip="{% trans %}editor.tabs.help.tutorial.tooltip{% endtrans %}">
        <i class="fas fa-question"></i> {% trans %}editor.tabs.help.tutorial{% endtrans %}
    </button>
   {# 
    <div class="switch_box">
        {% trans %}editor.tabs.help.toggle_hover{% endtrans %}
		<input type="checkbox" data-action="help.toggle_hover" class="toggle">
    </div>
   #}

    <div class="v-separator"></div>