{# Format menu tools #}
<div id="mlab_toolbar_for_components">
    <button data-open-modal="new-page" class="toolbox-btn">
        <i class="far fa-file"></i> New Page
    </button>
    <div class="v-separator"></div>
    <button data-open-modal="new-page" class="toolbox-btn">
        <i class="far fa-file"></i> New Page
    </button>
</div>