{# Insert menu tools #}
<div>
    <button data-open-modal="new-page" class="toolbox-btn">
        <i class="far fa-file"></i> New Page
    </button>
    <button data-open-modal="new-page" class="toolbox-btn">
        <i class="far fa-file"></i> New Page
    </button>
</div>