{# Format menu tools, some always, others loaded when component is selected #}
<div>
    <button data-action="component.up" class="toolbox-btn" data-tooltip="{% trans %}editor.tabs.format.component.up.tooltip{% endtrans %}" >
        <i class="far fa-file-image"></i> {% trans %}editor.tabs.format.component.up{% endtrans %}
    </button>
    <button data-action="component.down" class="toolbox-btn" data-tooltip="{% trans %}editor.tabs.format.component.down.tooltip{% endtrans %}" >
        <i class="fas fa-mobile-alt"></i> {% trans %}editor.tabs.format.component.down{% endtrans %}
    </button>

    <div class="v-separator"></div>
    
    <button data-action="component.delete" class="toolbox-btn btn-lg" data-tooltip="{% trans %}editor.tabs.format.component.delete.tooltip{% endtrans %}">
        <i class="far fa-trash-alt"></i> {% trans %}editor.tabs.format.component.delete{% endtrans %}
    </button>
    
    <div class="v-separator"></div>
    
    <button data-action="component.cut" class="toolbox-btn btn-lg" data-tooltip="{% trans %}editor.tabs.format.component.cut.tooltip{% endtrans %}">
        <i class="fas fa-cut"></i> {% trans %}editor.tabs.format.component.cut{% endtrans %}
    </button>
    <button data-action="component.copy" class="toolbox-btn btn-lg" data-tooltip="{% trans %}editor.tabs.format.component.copy.tooltip{% endtrans %}">
        <i class="fas fa-copy"></i> {% trans %}editor.tabs.format.component.copy{% endtrans %}
    </button>
    <button data-action="component.paste" class="toolbox-btn btn-lg" data-tooltip="{% trans %}editor.tabs.format.component.paste.tooltip{% endtrans %}">
        <i class="fas fa-paste"></i> {% trans %}editor.tabs.format.component.paste{% endtrans %}
    </button>
    
    <div class="v-separator" id="mlab_end_shared_tools"></div>
</div>