{# Insert menu tools #}
    <button data-action="page.new" class="toolbox-btn btn-lg" data-tooltip="{% trans %}editor.tabs.insert.new.page.tooltip{% endtrans %}">
        <span class="badge badge-top-right badge-plus">+</span>
        <i class="far fa-file"></i> {% trans %}editor.tabs.insert.new.page{% endtrans %}
    </button>
    
    <button data-action="section.new" class="toolbox-btn btn-lg" data-tooltip="{% trans %}editor.tabs.insert.new.section.tooltip{% endtrans %}">
        <span class="badge badge-top-right badge-plus">+</span>
        <i class="fas fa-book-open"></i> {% trans %}editor.tabs.insert.new.section{% endtrans %}
    </button>
    
    <div class="v-separator"></div>
