{# Insert menu tools #}
<div>
    <button data-new-page class="toolbox-btn btn-lg">
        <span class="badge badge-top-right badge-plus">+</span>
        <i class="far fa-file"></i> 
        New Page
    </button>
    <button data-new-section class="toolbox-btn btn-lg">
        <span class="badge badge-top-right badge-plus">+</span>
        <i class="fas fa-book-open"></i>
        New Section
    </button>
    <div class="v-separator"></div>

    <button data-open-modal="new-page" class="toolbox-btn">
        <i class="far fa-file"></i> New Page
    </button>
    <button data-open-modal="new-page" class="toolbox-btn">
        <i class="far fa-file"></i> New Page
    </button>
</div>