/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
.settings/*
.project
yarn-error.log

/mlab_elements/apps/
/nbproject/
/vendor/
/bin/deprecation-detector.phar
/src/Sinett/MLAB/BuilderBundle/FileManagement/conv/__pycache__/

/src/Sinett/MLAB/BuilderBundle/Resources/public/js/jquery-ui-theme/
/src/Sinett/MLAB/BuilderBundle/Resources/public/js/jquery-file-upload/
/src/Sinett/MLAB/BuilderBundle/Resources/public/js/jquery-ui-1.10.3/

/src/Sinett/MLAB/BuilderBundle/Resources/public/js/bowser.js
/src/Sinett/MLAB/BuilderBundle/Resources/public/js/spin.js
/src/Sinett/MLAB/BuilderBundle/Resources/public/js/j*.js
!/src/Sinett/MLAB/BuilderBundle/Resources/public/js/jquery.ddslick-1.0.0.js
/web/bundles/
/_minimal_websocket/npm-debug.log
node_modules/

