/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
.settings/*
.project

/netbeans/nbproject/private/
/mlab_elements/apps/
/nbproject/private/
/mlab_elements/templates/basic/nbproject/private/
/vendor/
