<!DOCTYPE html>
<html>
<head>
<title>qTip test</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="./css/mlab_component_config">
<script src="./js/include.js"></script>
</head>
<body id="page_body">
    <div id="qTip" style="width: 284px">
        <form class="left" action="http://example.com/" enctype="multipart/form-data" method="post" target="_self">
                
                <fieldset>

                        <legend>New Attributes</legend>

                        <ul>

                                <li id="placeholder-test-wrap" class="supported">
                                        <label>
                                                Placeholder
                                        </label>
                                        <div>
                                                <input placeholder="veryhot@thesun.com" name="placeholder-test" type="text">
                                        </div>
                                        <a href="/html5/attributes/01-placeholder.html">?</a>
                                </li>

                                <li id="autofocus-test-wrap" class="supported">
                                        <label>
                                                Autofocus
                                        </label>
                                        <div>
                                                <input autofocus="" type="text" name="autofocus-test">
                                        </div>
                                        <a href="/html5/attributes/02-autofocus.html">?</a>
                                </li>

                                <li id="maxlength-textarea-test-wrap" class="supported">
                                        <label>
                                                Maxlength (on textarea)
                                        </label>
                                        <div>
                                                <textarea name="maxlenth-test" maxlength="10"></textarea>
                                        </div>
                                        <a href="/html5/attributes/03-maxlength.html">?</a>
                                </li>

                                <li id="maxlength-input-test-wrap" class="supported">
                                        <label>
                                                Maxlength (on input)
                                        </label>
                                        <div>
                                                <input name="maxlenth-input-test" maxlength="10">
                                        </div>
                                        <a href="/html5/attributes/03-maxlength.html">?</a>
                                </li>

                                <li id="min-test-wrap" class="supported">
                                        <label>
                                                Min
                                        </label>
                                        <div>
                                                <input name="mintest" type="number" min="0" max="50" step="5">
                                        </div>
                                        <a href="/html5/attributes/04-minmaxstep.html">?</a>
                                </li>

                                <li id="max-test-wrap" class="supported">
                                        <label>
                                                Max
                                        </label>
                                        <div>
                                                <input name="maxtest" type="number" max="40" >
                                        </div>
                                        <a href="/html5/attributes/04-minmaxstep.html">?</a>
                                </li>

                                <li id="step-test-wrap" class="supported">
                                        <label>
                                                Step
                                        </label>
                                        <div>
                                                <input name="steptest" type="number" step="5">
                                        </div>
                                        <a href="/html5/attributes/04-minmaxstep.html">?</a>
                                </li>

                                <li id="datalist-test-wrap" class="supported">
                                        <label>
                                                List (Datalist)
                                        </label>
                                        <div>
                                                <input name="datalist-test" type="text" list="planetdata">
                                                <datalist id="planetdata">
                                                        <option value="Earth">
                                                        </option><option value="Venus">
                                                        </option><option value="Mars">
                                                        </option><option value="Fomalhaut b">
                                                        </option><option value="HR 8799">
                                                </option></datalist>
                                        </div>
                                        <a href="/html5/attributes/05-list.html">?</a>
                                </li>


                                <li id="autocomplete-test-wrap" class="supported">
                                        <label>
                                                Autocomplete
                                        </label>
                                        <div>
                                                <input autocomplete="off" name="autocomplete-test" type="text">
                                        </div>
                                        <a href="/html5/attributes/06-autocomplete.html">?</a>
                                </li>

                                <li id="accepts-test-wrap" class="supported">
                                        <label>Accept (only images)</label>
                                        <div>
                                                <input type="file" accept="image/*">
                                        </div>
                                        <a href="/html5/attributes/07-accept.html">?</a>
                                </li>

                                <li id="multiple-test-wrap" class="supported">
                                        <label>Multiple Files</label>
                                        <div>
                                                <input type="file" multiple="">
                                        </div>
                                        <a href="/html5/attributes/08-multiple.html">?</a>
                                </li>

                                <li id="required-test-wrap" class="supported">
                                        <label>
                                                Required test
                                        </label>
                                        <div>
                                                <input required="" name="required-test" type="text">
                                        </div>
                                        <a href="/html5/attributes/09-required.html">?</a>
                                </li>

                                <li id="pattern-test-wrap" class="supported">
                                        <label>
                                                Pattern test ("7A" should pass)
                                        </label>
                                        <div>
                                                <input required="" pattern="[0-9][A-Z]" name="placeholder-test" type="text">
                                        </div>
                                        <a href="/html5/attributes/10-pattern.html">?</a>
                                </li>

                                <li id="formnovalidate-test-wrap" class="supported">
                                        <label>
                                                Formnovalidate
                                        </label>
                                        <input formnovalidate="" name="formaction-test" type="submit">
                                        <a href="/html5/attributes/12-formnovalidate.html">?</a>
                                </li>

                                <li id="formaction-test-wrap" class="supported">
                                        <label>
                                                Formaction
                                        </label>
                                        <input formaction="http://www.wufoo.com" name="formaction-test" type="submit">
                                        <a href="/html5/attributes/13-formaction.html">?</a>
                                </li>

                                <li id="formmethod-test-wrap" class="supported">
                                        <label>
                                                Formmethod
                                        </label>
                                        <input formmethod="get" name="formaction-test" type="submit">
                                        <a href="/html5/attributes/14-formmethod.html">?</a>
                                </li>

                                <li id="formtarget-test-wrap" class="supported">
                                        <label>
                                                Formtarget
                                        </label>
                                        <input formtarget="_blank" name="formaction-test" type="submit">
                                        <a href="/html5/attributes/15-formtarget.html">?</a>
                                </li>

                                <li id="formenctype-test-wrap" class="supported">
                                        <label>
                                                Formenctype
                                        </label>
                                        <input formenctype="application/x-www-form-urlencoded" name="formaction-test" type="submit">
                                        <a href="/html5/attributes/16-formenctype.html">?</a>
                                </li>

                                <li id="spellcheck-test-wrap" class="unsupported">
                                        <label>
                                                Spellcheck
                                        </label>
                                        <div>
                                                <input type="text" spellcheck="true">
                                                <br>
                                                <input type="text" spellcheck="false">
                                                <br>
                                                <textarea spellcheck="true"></textarea>
                                                <br>
                                                <textarea spellcheck="false"></textarea>
                                        </div>
                                </li>

                        </ul>

                </fieldset>

        </form><!-- attributes -->

        <form>

                <fieldset>

                        <legend>New Types</legend>

                        <ul>

                                <li id="email-test-wrap" class="supported">
                                        <label>
                                                Email
                                        </label>
                                        <div>
                                                <input name="email-test" type="email">
                                        </div>
                                        <a href="/html5/types/1-email.html">?</a>
                                </li>

                                <li id="tel-test-wrap" class="supported">
                                        <label>
                                                Tel
                                        </label>
                                        <div>
                                                <input name="tel-test" type="tel">
                                        </div>
                                        <a href="/html5/types/2-tel.html">?</a>
                                </li>

                                <li id="url-test-wrap" class="supported">
                                        <label>
                                                Url
                                        </label>
                                        <div>
                                                <input name="url-test" type="url">
                                        </div>
                                        <a href="/html5/types/3-url.html">?</a>
                                </li>

                                <li id="datetime-test-wrap" class="unsupported">
                                        <label>
                                                Date
                                        </label>
                                        <div>
                                                <input name="datetime-test" type="date">
                                        </div>
                                        <a href="/html5/types/4-date.html">?</a>
                                </li>

                                <li id="date-test-wrap" class="supported">
                                        <label>
                                                Datetime
                                        </label>
                                        <div>
                                                <input name="datetime-test" type="datetime">
                                        </div>
                                        <a href="/html5/types/4-date.html">?</a>
                                </li>

                                <li id="datetime-local-test-wrap" class="supported">
                                        <label>
                                                Datetime-local
                                        </label>
                                        <div>
                                                <input name="datetime-local-test" type="datetime-local">
                                        </div>
                                        <a href="/html5/types/4-date.html">?</a>
                                </li>

                                <li id="month-test-wrap" class="supported">
                                        <label>
                                                Month
                                        </label>
                                        <div>
                                                <input name="month-test" type="month">
                                        </div>
                                        <a href="/html5/types/4-date.html">?</a>
                                </li>

                                <li id="week-test-wrap" class="supported">
                                        <label>
                                                Week
                                        </label>
                                        <div>
                                                <input name="week-test" type="week">
                                        </div>
                                        <a href="/html5/types/4-date.html">?</a>
                                </li>

                                <li id="time-test-wrap" class="supported">
                                        <label>
                                                Time
                                        </label>
                                        <div>
                                                <input name="time-test" type="time">
                                        </div>
                                        <a href="/html5/types/4-date.html">?</a>
                                </li>

                                <li id="color-test-wrap" class="supported">
                                        <label>
                                                Color
                                        </label>
                                        <div>
                                                <input name="color-test" type="color">
                                        </div>
                                        <a href="/html5/types/6-color.html">?</a>
                                </li>

                                <li id="number-test-wrap" class="supported">
                                        <label>
                                                Number
                                        </label>
                                        <div>
                                                <input name="number-test" type="number" min="0" max="100" step="5">
                                        </div>
                                        <a href="/html5/types/7-number.html">?</a>
                                </li>

                                <li id="range-test-wrap" class="supported">
                                        <label>
                                                Range
                                        </label>
                                        <div>
                                                <input name="range-test" type="range" min="0" max="150" step="5">
                                        </div>
                                        <a href="/html5/types/8-range.html">?</a>
                                </li>

                                <li>
                                        <input type="submit" value="Submit">
                                </li>

                                </ul>

                </fieldset>

        </form>

        <form action="">

                <fieldset>
                        <legend>Search</legend>
                        <ul>
                                <li id="search-test-wrap" class="supported">
                                        <label>
                                                Search
                                        </label>
                                        <input type="search" name="search-test" results="5" autosave="some_unique_value">
                                        <input type="submit" value="go" name="search-test">
                                        <a href="/html5/types/5-search.html">?</a>
                                </li>
                        </ul>
                </fieldset>

        </form>

        <form>

                <fieldset>
                        <legend>New Elements</legend>

                        <ul>

                                <li id="meter-test-wrap">
                                        <label>Meter</label>
                                        <div>
                                        <meter min="0" max="20" value="12" optimum="10">12cm</meter>
                                        </div>
                                        <a href="/html5/elements/1-meter.html">?</a>
                                </li>

                                <li id="progress-test-wrap">
                                        <label>Progress</label>
                                        <div>
                                                <progress value="50" max="100">0%</progress>
                                        </div>
                                        <a href="/html5/elements/2-progress.html">?</a>
                                </li>

                                <li id="output-test-wrap" class="supported">
                                        <label>Output</label>
                                        <div>
                                                <input name="number_1" type="number"> + <input name="number_2" type="number"> =
                                            <output onforminput="value = number_1.valueAsNumber + number_2.valueAsNumber"></output>
                                                <input type="submit">
                                        </div>
                                        <a href="/html5/elements/3-output.html">?</a>
                                </li>

                                <li id="keygen-test-wrap" class="supported">
                                        <label>Keygen</label>
                                        <div>
                                                <keygen name="key"></keygen>
                                        </div>
                                        <a href="/html5/elements/4-keygen.html">?</a>
                                </li>
                    </ul>

                </fieldset>
        </form>
    </div>
</body>
</html>