.builder {
    background-color: $builder-bgcolor;
}

ul.breadcrumb {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 14px;
    left: 28px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: $top-level-color;
    li {
        display: inline;
        &:first-child{
            font-weight: bold;
        }

        &+li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
        }
    }

    a {
        color: $top-level-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.app-container {
    width:768px;
    height:1024px;
    background-color: $app-container-bgcolor;
    margin: 40px 0 40px 30px;
    box-shadow: 0px 0px 30px #ccc;
}