@mixin btn-reset {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.v-separator {
    height: 100%;
    border-left: solid 1px $border-color;
    margin: 0 20px;

    &.invlisible {
        border-left: 0;
    }
}

.toolbox-btn {
    @include btn-reset;
    
    width: 8em;
    height: 50%;
    text-align: left;
    &:before {
        font-family: "Flaticon";
        margin: 0 10px;
    }

    &.btn-lg {
        padding-top: 0;
        width: 4.6em;
        padding-top: 3em;
        height: 100%;
        text-align: center;

        &:before {
            margin: 0;
            position: absolute;
            top: 0.5em;
            font-size: 2em;
        }
    }

    &.like:before {
        content: $font-Flaticon-like;
    }
}

.delete {
    @include btn-reset;

    display: inline-block;
    border-radius: 50%;
    font-weight: bold;
    font-size: 19px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: $primary-color;
    color: $primary-text;
    position: absolute;
    top: -10px;
    right: -10px;

    &:before {
        content: "×"
    }
}

.delete-alt {
    @include btn-reset;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin-bottom: 2em;

    &:before {
        font-family: "Flaticon";
        content: $font-Flaticon-garbage-2;
        font-size: 2em;
    }
}

.warning {
    margin: auto 5px;
    border: 2px solid #FFF;
    font-size: 15px;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: $primary-text;
    background-color: transparent;

    &:before {
        content: "!"
    }
}
