@mixin btn-reset {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.v-separator {
    height: 100%;
    border-left: solid 1px $border-color;
    margin: 0 20px;

    &.invlisible {
        border-left: 0;
    }
}

.toolbox-btn {
    @include btn-reset;
    
    width: 8em;
    height: 50%;
    text-align: left;
    position: relative;
    &:before {
        font-family: "Flaticon";
        margin: 0 10px;
    }

    &.btn-lg {
        padding-top: 0;
        width: 4.6em;
        padding-top: 3em;
        height: 100%;
        text-align: center;

        &:before {
            margin: 0;
            position: absolute;
            top: 0.2em;
            font-size: 2em;
            left: 0;
            right: 0;
        }

        &.badge:after {
            position: absolute;
            width: 16px;
            height: 16px;
            font-size: 16px;
            line-height: 16px;
            border-radius: 50%;
        }

        &.badge-plus:after {
            color: $toolbox-plus-badge-color;
            background-color: $toolbox-plus-badge-bgcolor;
            content: '+';
            font-size: 15px;
        }

        &.badge-caret:after {
            color: $toolbox-caret-badge-color;
            background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 8" width="11" height="8"><path style="fill: #ffffff;stroke: #ffffff" d="M1.82,1.43l3.61,4.57l3.56,-4.52z" /></svg>') $toolbox-caret-badge-bgcolor no-repeat center center;

            content: '';
            font-size: 10px;
        }

        &.badge-top-right:after {
            top: 0.2em;
            right: 0.2em;
        }

        &.badge-top-left:after {
            top: 0.2em;
            left: 0.2em;
        }

        &.badge-bottom-right:after {
            bottom: 1em;
            right: 0.2em;
        }
        &.badge-bottom-left:after {
            bottom: 1em;
            left: 0.2em;
        }
    }

    &.like:before {
        content: $font-Flaticon-like;
    }
}

.delete {
    @include btn-reset;

    display: inline-block;
    border-radius: 50%;
    font-weight: bold;
    font-size: 19px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: $primary-color;
    color: $primary-text;
    position: absolute;
    top: -10px;
    right: -10px;

    &:before {
        content: "×"
    }
}

.delete-alt {
    @include btn-reset;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin-bottom: 2em;

    &:before {
        font-family: "Flaticon";
        content: $font-Flaticon-garbage-2;
        font-size: 2em;
    }
}

.warning {
    margin: auto 5px;
    border: 2px solid #FFF;
    font-size: 15px;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: $primary-text;
    background-color: transparent;

    &:before {
        content: "!"
    }
}
