.header {
    font-family: 'Ropa+Sans', sans-serif;
    background-color: $primary-color;
    color: $primary-text;

    a {
        color: $primary-text;
    }
}

.logo {
    margin: auto 15px;
    font-size: 1.4em;
    font-weight: bold;
}

.nav-main {
    display: flex;
    ul.tabs {
        > li {
            > a {
                padding: 6px;
                color: inherit;
                text-decoration: none;
                display: block;
            }
        }
    }
}

.toolbox {
    > div {
        display: flex;
        flex-flow: column wrap;
    }
    position: fixed;
    left: 0;
    height: #{$toolbox-height - 20px};
    background-color: $toolbox-active-bgcolor;
    width: 100%;
    border-bottom: solid 1px $border-color;
    font-size: 0.8em;
    padding: 10px 0;
}

.tabs {
    text-align: center;
    list-style: none;
    align-self: flex-end;
    padding: 0;
    margin: 0;
    position: relative;

    > li {
        margin-right: 10px;
        padding: 0 10px;
        background: $secondary-color;
        display: inline-block;
        position: relative;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        .toolbox {
            display: none;
        }

        &.active {
            background: $toolbox-active-bgcolor;
            color: #000;

            &:after {
                position: absolute;
                bottom: 0;
                width: 6px;
                height: 6px;
                content: " ";
            }
            &:before {
                left: -6px;
                border-bottom-right-radius: 6px;
                border-width: 0 1px 1px 0;
                box-shadow: 2px 2px 0 $toolbox-active-bgcolor;
            }
            &:after {
                right: -6px;
                border-bottom-left-radius: 6px;
                border-width: 0 0 1px 1px;
                box-shadow: -2px 2px 0 $toolbox-active-bgcolor;
            }

            .toolbox {
                display: flex;
            }
        }
    }
}

.nav-right {
    margin-left: auto;
    display: flex;
    font-size: 0.8em;

    > div {
        padding: 0 10px;
        border-left: 1px solid $secondary-color;

        &:first-child {
            border-left: none;
        }
    }
}

.app-info, .user-profile {
    line-height: $header-height;
}

.app-info {
    .view-all-apps {
        padding: 10px;
    }
}

.user-profile {
    .arrow {
        width: 2px;
        height: 2px;
        border: 2px solid;
        border-color:  transparent transparent $primary-text $primary-text;
        transform: rotate(-45deg) translate(2px,-2px);
        line-height: normal;
        display: inline-block;
    }
}
