.nav-pages {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8em;
    border-right: 1px solid $border-color;

    ul {
        list-style: none;
        margin: 0;
        padding: 0 0px 0 16px;
    }

    li {
        position: relative;
        margin-bottom: 15px;
        .delete, .delete-alt {
            display: none;
        }
        &:hover {
            > .delete, > .delete-alt {
                display: block;
            }
        }
    }

    .page {
        cursor: pointer;
    }

    img {
        border: 1px solid $dark-color;
        display: none;
    }

    .with-preview {
        img {
            display: inline-block;
        }

        p {
            margin: 4px 0;
        }
    }

    p {
        line-height: 2em;
    }

    .level-name {
        font-weight: bold;
        margin: 10px 0;

        &.change-name {
            cursor: pointer;
            &:hover {
                &:after {
                    content: '\01F589';
                    padding-left: 1em;
                }
            }
        }
    }

    .active {
        >.level-name {
            color: $top-level-text;
            padding: 0 0 0 16px;
        }
        > ul {
            > li {
                > .level-name {
                    color: $second-level-text;
                }
                > ul {
                    border-left: 2px solid $second-level-text;
                        > li {
                            > .level-name {
                                color: $third-level-text;
                            }
                            > ul {
                                border-left: 2px solid $third-level-text;
                            }
                        }
                }
            }
        }
    }

    .deleted {

        background-color: $deleted-list-color;
        color: $deleted-list-text;
        box-shadow: inset -10px 0 50px -10px rgba(0, 0, 0, 0.7);


        padding-bottom: 19px; /* fix hidden scroller bottom arrow */
        .title {
            margin: 0 15px;
            font-weight: bold;
            font-size: 1.5em;
            line-height: 3em;
        }
        .close {
            @include btn-reset;

            width: 40px;
            height: 40px;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 2em;
            font-family: sans-serif;
        }

        .image {
            position: relative;
            display: inline-block;
            &:hover {
                &:after {
                    content: 'Restore page';
                    background-color: $deleted-restore-color;
                    color: $deleted-restore-text;
                    position: absolute;
                    padding: 0 7px;
                    font-size: 1.2em;
                    line-height: 1.5em;
                    border-radius: 10px;
                    display: block;
                    top: calc(50% - 0.6em);
                    margin: 0 0.2em;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            }
        }

    }

}