/* DT only */
.mlab_quiz ul.mlab_dt_quiz_page_nav { width: 100%; list-style: none !important; margin: 0 !important; padding:  0.2em 0 !important; }
.mlab_quiz ul.mlab_dt_quiz_page_nav li { margin: 0; padding: 0.2em 0; display: inline; }
.mlab_quiz ul.mlab_dt_quiz_page_nav li a { padding: 0.2em 0.8em; margin-right: -1px; border: 1px solid; border-bottom: 0; text-decoration: none; color: inherit; border-radius: 3px 3px 0px 0px; cursor: pointer; background-color: transparent; color: white; }
.mlab_quiz ul.mlab_dt_quiz_page_nav li a.mlab_dt_quiz_page_add { padding: 0.2em; 0.2em; }
.mlab_quiz ul.mlab_dt_quiz_page_nav li a.mlab_dt_quiz_active { background-color: white; color: black; }
.mlab_quiz .mlab_dt_quiz_question_type, .mlab_quiz .mlab_quiz_question section {  }
.mlab_quiz .mlab_quiz_line > span { font-size: 0.8em; }
.mlab_quiz .mlab_quiz_line > .mlab_dt_quiz_meta { font-size: 1em; }
.mlab_quiz .mlab_dt_quiz_current_question { border: 1px dashed white; }
    
.mlab_quiz .mlab_dt_factory { float: left; clear: both; width: 100%; border: 1px solid #D19F2A; padding: 10px; background-color: white; color: #717275; margin-bottom: 10px; }
.mlab_quiz .mlab_dt_factory section { float: left; clear: both; width: 100%; margin: 5px 0; }
.mlab_quiz .mlab_dt_factory input { float: left; clear: both; width: 100%; font-size: 1.2em; background-color: #d1d2d5; padding: 3px; }

.mlab_quiz .mlab_quiz_line li.mlab_dt_correct_response_alternative { color: green; }
.mlab_quiz .mlab_quiz_question.mlab_dt_response_mandatory { border: 1px solid blue !important; }