/* Common rules */
.mlab_quiz, .mlab_quiz * { box-sizing: border-box; -moz-box-sizing: border-box; }
.mlab_quiz .mlab_quiz_page { width: 100%; border: 1px solid; padding: 0.5em; }
.mlab_quiz .mlab_quiz_page h2 { margin-top: 0px; }
.mlab_quiz .mlab_quiz_page footer { display: inline-block; width: 100%; padding-top: 0.5em; }
.mlab_quiz .mlab_quiz_line { display: block; width: 100%; clear: both; padding-bottom: 0.3em; }
.mlab_quiz .mlab_quiz_line label { display: inline !important; margin-right: 0.2em; font-size: 1.2em; line-height: 1.4em; }
.mlab_quiz ul.mlab_quiz_questions { padding: 0 0.5em !important; }
.mlab_quiz .mlab_quiz_question { display: block; width: 100%; margin-bottom: 0.5em; padding: 0.5em; border: 1px solid transparent; border-bottom: 1px solid; }
.mlab_quiz .mlab_quiz_question input, .mlab_quiz .mlab_quiz_question select { font-size: 1.2em; }
.mlab_quiz .mlab_quiz_question select { width: 100%; }
.mlab_quiz .mlab_quiz_text_input { width: 100%; }