# @copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
# @license Proprietary and confidential
# @author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)
# 
# Unauthorized copying of this file, via any medium is strictly prohibited 
# 
# For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.

# This file is used by the Mlab installation file as a starting point for creating a configuration file.
# The settings here are specific to the server installation, look at the parameters: section in config.yml for app variables not dependent on the server
parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: 
    database_user: 
    database_password: 
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en_GB
    secret: 
    
    mlab: 
        convert:
            python_bin: 

        ws_socket:
            url_client: ws://url:8080/
            url_server: http://url:8080/

        paths:
          app: 
          component: 
          template: 
          icon: 
        
        urls:
          app: 
          component: 
          template: 
          icon: 
          
        compiler_service:
            supported_platforms: [ios, android]
            url: 
            protocol: http
            passphrase: 
            app_creator_identifier: com.test.apps
            target_version: {ios: 7, android: 18}
            rsync_bin: 
            rsync_url: user@url::cs_inbox
            rsync_password: 
