<!DOCTYPE html>
<html>
<head>
<title>basic</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="mlab:app_uid" content="%%APP_UID%%" />
<link rel="stylesheet" href="./css/include.css">
<link rel="stylesheet" href="./css/jquery-mobile.css">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/style_rt.css">
<link rel="stylesheet" href="./css/mlab_component.css">
<script src="./js/jquery.js"></script>
<script src="./js/jquery-ui.js"></script>
<script src="./js/jquery-mobile.js"></script>
<script src="./js/mlab.api.js"></script>
<script src="./js/basic.js"></script>
<script src="./js/include.js"></script>
<script>
    
//this variable tracks the current page, may be replaced with jquery mobile code
    mlab_rt_current_page = 0;
    //this variable tracks the current page, may be replaced with jquery mobile code
    mlab_rt_current_page_text_size = 0;
    /**
     * When document is ready we initialise the load code for the jquery mobile functionality
     * This is done by assigning the mlab.api.navigation.pageDisplay call to various page navigation elements
     * @type type
     */
    function inititaliseMlabApp() {
        
//this function will loop through the components and initialise them by calling the components' onPageLoad function (if it exists)
// see https://jqmtricks.wordpress.com/2014/05/23/jquery-mobile-page-events-extra/
// http://jsfiddle.net/Palestinian/2SCbL/embedded/result/
// http://jsfiddle.net/Palestinian/2SCbL/embedded/js/
// https://jqmtricks.wordpress.com/2014/03/26/jquery-mobile-page-events/
// http://api.jquerymobile.com/pagecontainer/#event-load
// http://demos.jquerymobile.com/1.4.3/navigation/
        $(document).on("pagecontainerload", function (e, ui) {
            mlab.api.navigation.prepareComponents(e, ui);
        });
        
        mlab.api.navigation.initialise(0, "%%MLAB_CT_FUNC_GETNUMBEROFPAGES%%");
        
        mlab.api.navigation.pageDisplay(-1, 0);
        
       //Opens the previous page 
        $("#mlab_previous_page").on("click", function () { mlab_rt_current_page = mlab.api.navigation.pageDisplay(mlab_rt_current_page, "previous"); });
        //Opens the next page 
        $("#mlab_next_page").on("click", function () { mlab_rt_current_page = mlab.api.navigation.pageDisplay(mlab_rt_current_page, "next"); });
        //Toggles the text and background color
        $("#mlab_btn_color_toggle").on("click", function () { mlab_set_display_settings.pageColorToggle("page", "#1e1e1e", "#ffffff", "#ffffff", "#000000"); });
        //Toggles the text size between 100% and 130%
        $("#mlab_btn_txsize_toggle").on("click", function () { mlab_set_display_settings.pageTextSizeToggle("mlab_content"); });
      
    };
  
    //Uses on pagecreate to get the page name to display when the page is loaded the first time
    $( document ).on( "pagecreate", function( event ) {  
        var pageTitle = window.document.title;
        $("#mlab_page_name").text(pageTitle);
    } );
    
</script>
</head>
<body id="page_body">
    <div data-role="page" id="page">
        
        <!-- MENU Panel -->
        <div data-role="panel" id="mlab_menu_panel" data-position="left" data-display="overlay" data-theme="a" class="mlab_hide_in_app_builder ui-panel ui-panel-position-left ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open">
            <div class="ui-panel-inner">
                <!-- Menu panel content goes here -->
                <a href="#" data-rel="close"><div id="mlab_btn_close_menu"></div></a>
                <div id="mlab_menu_heading">Meny</div>
                <hr id="mlab_hr_panel">
                <div id="mlab_menu_text"> Her kan man putte inn menyelementer om man vil.... </div>
            </div>
        </div><!-- /Menu panel -->
        
         <!-- SETTINGS Panel -->
        <div data-role="panel" id="mlab_settings_panel" data-position="right" data-display="overlay" data-theme="b" class="mlab_hide_in_app_builder ui-panel ui-panel-position-right ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open">
            <div class="ui-panel-inner">
                <!-- Settings panel content goes here -->
                <div id="mlab_creators">Made by Sinett</div> 
                <a href="#" data-rel="close"><div id="mlab_btn_close"></div></a>
                <div id="mlab_settings_heading">Settinger</div>
                <hr id="mlab_hr_panel">
                <div id="mlab_btn_color_toggle"></div>
                <div id="mlab_btn_txsize_toggle"></div> 
            </div>
        </div><!-- /Settings panel -->
        
        <!-- The HEADER with navigation, menu and settings -->
        <div data-role="header" id="mlab_header" class="mlab_hide_in_app_builder" data-position="fixed" data-fullscreen="true" data-id="main-header">  
            <div id="mlab_header_box">
                <a href="#mlab_menu_panel"><div id="mlab_btn_menu" class="btn_secondary"></div></a>
                <div id="mlab_previous_page"></div>
                <div id="mlab_btn_heraldisk"></div> 
                <div id="mlab_page_name"></div> 
                <a href="#mlab_settings_panel"><div id="mlab_btn_settings"></div></a>
                <div id="mlab_next_page"></div>
            </div>
        </div><!-- /Header -->
      
        <!-- The CONTENT of the page - are filled in via the App builder -->
        <div data-role="content" id="mlab_content">
            <div id="content">
                <div id="mlab_editable_area" class="mlab_editable_area">
                    <!-- Where the content/components is placed -->
                    sdf sdf sdf sdf sdf sdf
                    
                </div>
            </div>
        </div><!-- /Content -->

    </div>   
</body>
</html>