<!DOCTYPE html>
<html>
<head>
<title>basic</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/include.css">
<link rel="stylesheet" href="./css/jquery-mobile.css">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/style_rt.css">
<script src="./js/jquery.js"></script>
<script src="./js/jquery-ui.js"></script>
<script src="./js/jquery-mobile.js"></script>
<script src="./js/mlab.api.js"></script>
<script src="./js/include.js"></script>
<script>
    
//this variable tracks the current page, may be replaced with jquery mobile code
    mlab_rt_current_page = 0;
    /**
     * When document is ready we initialise the load code for the jquery mobile functionality
     * This is done by assigning the mlab.api.navigation.pageDisplay call to various page navigation elements
     * @type type
     */
    function inititaliseMlabApp() {
        
//this function will loop through the components and initialise them by calling the components' onPageLoad function (if it exists)
// see https://jqmtricks.wordpress.com/2014/05/23/jquery-mobile-page-events-extra/
// http://jsfiddle.net/Palestinian/2SCbL/embedded/result/
// http://jsfiddle.net/Palestinian/2SCbL/embedded/js/
// https://jqmtricks.wordpress.com/2014/03/26/jquery-mobile-page-events/
// http://api.jquerymobile.com/pagecontainer/#event-load
// http://demos.jquerymobile.com/1.4.3/navigation/
        $(document).on("pagecontainerload", function (e, ui) {
            mlab.api.navigation.prepareComponents(e, ui);
        })
        
        $("#mlab_previous_page").on("click", function () { mlab_rt_current_page = mlab.api.navigation.pageDisplay(mlab_rt_current_page, "previous"); });
        $("#mlab_next_page").on("click", function () { mlab_rt_current_page = mlab.api.navigation.pageDisplay(mlab_rt_current_page, "next"); });
        $("#mlab_next_page").on("click", function () { mlab_rt_current_page = mlab.api.navigation.pageDisplay(mlab_rt_current_page, "next"); });
      
    };
  
    //Uses on pagecreate to get the page name to display when the page is loaded the first time
    $( document ).on( "pagecreate", function( event ) {  
        var pageTitle = window.document.title;
        $("#mlab_page_name").append(pageTitle);
    } )
    
</script>
</head>
<body id="page_body">
    <div data-role="page" id="page">
        
        <!-- Menu panel -->
        <div data-role="panel" id="mlab_menu_panel" data-position="left" data-display="overlay" data-theme="a" class="ui-panel ui-panel-position-left ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open">
            <div class="ui-panel-inner">
                <!-- Menu panel content goes here -->
                <a href="#mlab_menu_panel"><div id="mlab_btn_menu" class="btn_secondary"></div></a>
                <h3>Left Panel: Overlay</h3>
                <p>This panel is positioned on the left with the overlay display mode. The panel markup is <em>after</em> the header, content and footer in the source order.</p>
                <p>To close, click off the panel, swipe left or right, hit the Esc key, or use the button below:</p>
                <a href="#demo-links" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inline">Close panel</a>
            </div>
        </div><!-- /Menu panel -->
        
         <!-- Settings panel -->
        <div data-role="panel" id="mlab_settings_panel" data-position="right" data-display="overlay" data-theme="b" class="ui-panel ui-panel-position-right ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open">
            <div class="ui-panel-inner">
                <!-- Menu panel content goes here -->
                <a href="#demo-links" data-rel="close"><div id="mlab_btn_close"></div></a>
                <div id="mlab_settings_heading">Settingssa</div>
                <div id="mlab_btn_color_toggle"></div>
                <div id="mlab_btn_txsize"></div>
                
            </div>
        </div><!-- /Settings panel -->
        
        <!-- The header with navigation and menus -->
        <div data-role="header" id="mlab_header" class="mlab_hide_in_app_builder" data-position="fixed" data-fullscreen="true" data-id="main-header">  
            <div id="mlab_header_box">
                <a href="#mlab_menu_panel"><div id="mlab_btn_menu" class="btn_secondary"></div></a>
                <div id="mlab_previous_page" class="mlab_hide_in_app_builder"></div>
                <div id="mlab_btn_heraldisk"></div> 
                <div id="mlab_page_name"></div> 
                <a href="#mlab_settings_panel"><div id="mlab_btn_settings"></div></a>
                <div id="mlab_next_page" class="mlab_hide_in_app_builder"></div>
            </div>
        </div><!-- /Header -->
      
        <!-- The content of the page - are filled in via the App builder -->
        <div data-role="content" id="mlab_content">
            <div id="content">
                <div id="mlab_editable_area" class="mlab_editable_area">
                    <!-- Where the content/components is placed -->
                    asdfsdf ksdfjalsdf aljkfhalksjfh asklfjhaslkfjh alskjdf sfkh
                    asdf
                    as
                    fasd
                    sadf
                    asdf
                    asdf
                    <br>
                    jhlkhlhlk kjh jh ljkh jkh lk<br><br>asdfsdf
                    asdf
                    sadf
                    asdf
                    asdfasoidfuaskf aslkdfh aksjlfh asdkjfh aksjfh aslkdfh jfh laksjdfh asjkldfhl sdfjh slkjdflh alksjf sdfhl kkalsjf lkasjfh lksjfh lsdf asdfkljhlksajfhl
                     askjldfh lkajsdf asldkjfh laksjdfh asjfhaksjfhlkasjdfh laksjdfhlaksjfhlkuhroiaeurgfbfvdm,zvnzx.dipuriwuleryhflk
                    <br>
                    jhlkhlhlk kjh jh ljkh jkh lk<br><br>asdfsdf
                    as
                    f
                    sadf
                    asdf
                    asdf
                    <br><br><br>
                    jhlkhlhlk kjh jh ljkh jkh lk<br><br><br><br>asdfsdf
                    asdf
                    as
                    f
                    sadf
                    asdf
                    asdf
                    <br><br><br>
                    jhlkhlhlk kjh jh ljkh jkh lk<br><br><br><br>asdfsdf
                    asdf
                    as
                    f
                    sadf
                    asdf
                    asdf
                    <br><br><br>
                    jhlkhlhlk kjh jh ljkh jkh lk<br><br><br><br>asdfsdf
                    asdf
                    as
                    f
                    sadf
                    asdf
                    asdf
                    <br><br><br>
                    jhlkhlhlk kjh jh ljkh jkh lk<br><br><br><br>asdfsdf
                    asdf
                    as
                    f
                    sadf
                    asdf
                    asdf
                    <br><br><br>
                    jhlkhlhlk kjh jh ljkh jkh lk<br><br><br><br>
                </div>
            </div>
        </div><!-- /Content -->

    </div>   
</body>
</html>