<!DOCTYPE html>
<html>
<head>
<title>%%TITLE%%</title>
</head>
<body>
    <div data-role="page" data-title="%%TITLE%%">
        <div data-role="panel" data-position="left" data-display="overlay" data-theme="a" class="mlab_menu_panel mlab_hide_in_app_builder ui-panel ui-panel-position-left ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open">
            <div class="mlab_menu_panel_content"></div>
        </div>
        <div data-role="panel" data-position="right" data-display="overlay" data-theme="b" class="mlab_settings_panel mlab_hide_in_app_builder ui-panel ui-panel-position-right ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open">
            <div class="mlab_settings_panel_content"></div>
        </div>
        <div data-role="header" class="mlab_header mlab_hide_in_app_builder" data-position="fixed" data-fullscreen="true" data-id="main-header">  
            <div class="mlab_header_content"></div>
        </div>
        <div class="mlab_content_wrapper">
            <div role="main" class="mlab_main_body_content">
                %%CONTENT%%
            </div>
        </div>
    </div>   
</body>
</html>