<!DOCTYPE html>
<html>
<head>
<title>%%TITLE%%</title>
</head>
<body>
    <div data-role="page">
        <div data-role="panel" id="mlab_menu_panel" data-position="left" data-display="overlay" data-theme="a" class="mlab_hide_in_app_builder ui-panel ui-panel-position-left ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open">
            <div id="mlab_menu_panel_content"></div>
        </div>
        <div data-role="panel" id="mlab_settings_panel" data-position="right" data-display="overlay" data-theme="b" class="mlab_hide_in_app_builder ui-panel ui-panel-position-right ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open">
            <div id="mlab_settings_panel_content"></div>
        </div>
        <div data-role="header" id="mlab_header" class="mlab_hide_in_app_builder" data-position="fixed" data-fullscreen="true" data-id="main-header">  
            <div id="mlab_header_content"></div>
        </div>
        <div id="content_wrapper">
            <div role="main" id="content">
                %%CONTENT%%
            </div>
        </div>
    </div>   
</body>
</html>