{% extends "::base.html.twig" %}

{% block title %}SinettMLABBuilderBundle:Services:cmpGetAppStatus{% endblock %}

{% block body %}
<h1>Welcome to the Services:cmpGetAppStatus page</h1>
{% endblock %}
