{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
{% extends "::base.html.twig" %}

{% block title %}SinettMLABBuilderBundle:Services:mktGetNewUsers{% endblock %}

{% block body %}
<h1>Welcome to the Services:mktGetNewUsers page</h1>
{% endblock %}
