{% extends "::base.html.twig" %}

{% block title %}SinettMLABBuilderBundle:Services:mktSetTaggedUsersState{% endblock %}

{% block body %}
<h1>Welcome to the Services:mktSetTaggedUsersState page</h1>
{% endblock %}
