{% extends "::base.html.twig" %}

{% block title %}SinettMLABBuilderBundle:Services:mktSubmitAppDetails{% endblock %}

{% block body %}
<h1>Welcome to the Services:mktSubmitAppDetails page</h1>
{% endblock %}
