{% extends "::base.html.twig" %}

{% block title %}SinettMLABBuilderBundle:Services:mktSetUserState{% endblock %}

{% block body %}
<h1>Welcome to the Services:mktSetUserState page</h1>
{% endblock %}
