{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}

    <table class="records_list" id="table_app">
        <thead>
            <tr>
            	<th>{% trans %}app.admin.apps.name{% endtrans %}</th>
                <th>{% trans %}app.admin.apps.version{% endtrans %}</th>
                <th>{% trans %}app.admin.apps.description{% endtrans %}</th>
                <th>{% trans %}app.admin.apps.Updated{% endtrans %}</th>
                <th>{% trans %}app.admin.apps.groups{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {{ include( 'SinettMLABBuilderBundle:App:show.html.twig', { 'entity': entity } ) }}
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
