{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}

    <h1>App list</h1>

    <table class="records_list" id="table_app">
        <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Description</th>
                <th>Updated</th>
                <th>Groups</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {{ include( 'SinettMLABBuilderBundle:App:show.html.twig', { 'entity': entity } ) }}
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
