<div id="mlab_existing_pages">
    <ul>
        {% for fil, title in pages  %}
        <li><a onclick="mlab_page_prepare_open({{ fil }});">{{ title }}</a>&nbsp;<a class="mlab_copy_file" onclick="mlab_page_copy({{ fil }});">&nbsp;</a></li>
        {% endfor %}
    </ul>
</div>
