/* Style Sheet for the Basic template
   Developer: Cecilie Jackbo Gran @ Sinett/FFI.no
*/


/* ==========================================================================
   Page
   ========================================================================== */

#mlab_editor_chrome #page,
#page {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    font-size: 1em;
    font-family: Arial,sans-serif;
    font-style: normal;
    text-shadow: none;
    color: #ffffff;
    background-color: #1e1e1e;  
}

#page #content {
    padding: 0.6em;
}


/* ==========================================================================
   Component styling - TODO
   ========================================================================== */
#page h1 {
    font-size: 1.45em;
    margin: 1em 0;
}

#page h2 {
    font-size: 1.27em;
    margin: 1em 0;
}

#page h3 {
    font-size: 1.12em;
    margin: 1em 0;
}

#page p {
    font-size: 1em;
    margin: 1em 0;
}

#page ol {
    margin: 0;
    list-style-type: decimal;
    list-style-position:outside;
    padding:0 2em 0 1.25em;
}

#page ul {
    margin: 0;
    list-style-type: square;
    list-style-position:outside;
    padding:0 2em 0 1.25em;
}

#page img {
    margin: 0;
    padding: 0.6em;
    border: none;
}

#page map {
    margin: 0;
    padding: 0.6em;
    border: none;
}

#page video {
    margin: 0;
    padding: 0.6em;
    border: none;
    cursor: pointer;
    width: 100%    !important;
    height: auto   !important;
}

#page iframe {
    margin: 0;
    padding: 0.3em;
    border: none;
    cursor: pointer;
}

#page div {
    margin: 0;
    padding: 0;
    border: none;
}

#page figure {
    margin: 7px 25px 0px 0px;
}

#page figure img {
   padding-bottom: 0.1em;
}

#page figure figcaption {
   text-align: center;
   font-style: italic;
   font-size: 0.9em;
}

