/* Style Sheet for the Basic template
   Developer: Cecilie Jackbo Gran @ Sinett/FFI.no
*/


/* ==========================================================================
   Typography
   ========================================================================== */
    #page #mlab_editable_area{
        font-size: 100%;
    }

    #page #mlab_editable_area.large_text{
        font-size: 140%;
    }


/* ==========================================================================
   Page -- ta bort her eller i style.css??? TODO
   ========================================================================== */

#page {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    background-color: #1e1e1e;
}

#page.white {
    background-color: #ffffff;
}

#page.white #mlab_content {
    color: #000000;
}

#page #mlab_content {
   margin-top: 15%;
   margin-bottom: 5%;
   margin-left: 5%;
   margin-right: 5%;
}

#page #content {
    margin-top: 0;
    overflow-y: visible;
    overflow-x: hidden;
}


/* ==========================================================================
   Header
   ========================================================================== */
#page #mlab_header {
    padding: 0;
    margin: 0;
    background-image: url('./img/contentpage_header_backgr.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: bottom;
    border-width: 0;
    border-style: hidden;
    overflow: hidden;
    opacity: 1;
    z-index: 120 !important;
    border-width: 0 0 0.15em 0;
    border-style: solid;
    border-color: #666666;
}

#page #mlab_header_box{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#page #mlab_previous_page, 
#page #mlab_next_page {
    padding-bottom: 8%;
    width: 7%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2.5%;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    background-image: url('./img/btn_prev.svg');
}

#page #mlab_next_page {
    background-image: url('./img/btn_next.svg');  
    float: right;
}

#page #mlab_page_name {
    float: left;
    max-width: 34%;
    width: 34%;
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 100%;
    font-size: 4vw;
}

#page #mlab_btn_menu, 
#page #mlab_btn_heraldisk,  
#page #mlab_btn_settings{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 10%;
    float: left;  
}

#page #mlab_btn_menu {
    background-image: url('./img/btn_menu.svg');
    width: 7%;
    margin-right: 5%;
}

#page #mlab_btn_heraldisk {
    background-image: url('./img/btn_heraldisk.svg');
    width: 10%;
    margin-left: 5%;
    margin-top: 1%;
}

#page #mlab_btn_settings {
    background-image: url('./img/btn_settings.svg');
    width: 7%;
    float: right;
    margin-left: 5%;
}


/* ==========================================================================
   Menu and Settings Panel
   ========================================================================== */
#page #mlab_menu_panel, 
#page #mlab_settings_panel {
    padding: 1%;
    background-color: #ffffff;
    color: #333333; 
    opacity: 0.92;
}

#page #mlab_settings_heading,
#page #mlab_menu_heading {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
}

#page #mlab_btn_color_toggle, 
#page #mlab_btn_txsize,
#page #mlab_btn_close {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 4em;
    width: 4em;
    float: left; 
    background-image: url('./img/btn_color_toggle.svg');
}

#page #mlab_btn_txsize {
    background-image: url('./img/btn_txsize.svg');
}

#page #mlab_btn_close {
    background-image: url('./img/btn_close.svg');
    float: right;
    margin-top: 0em;
    width: 1.7em;
}

/* ==========================================================================
  To hide an element from the app builder - add the class "mlab_hide_in_app_builder"
  to the element - the App Builder will have a stylesheet with the syntax:

.mlab_hide_in_app_builder {
    display: none !important;
}
========================================================================== */
