/* Style Sheet for the Basic template
   Developer: Cecilie Jackbo Gran @ Sinett/FFI.no
*/


/* ==========================================================================
   Page
   ========================================================================== */

#mlab_editor_chrome #page,
#page {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    background-color: #1e1e1e;  
}

#page #content {
    padding: 0.6em;
}
