/* Style Sheet for the Basic template
   Developer: Cecilie Jackbo Gran @ Sinett/FFI.no
*/


/* ==========================================================================
   Typography
   ========================================================================== */
#page #mlab_editable_area{
    font-size: 100%;
    line-height: 100%;
}

#page #mlab_editable_area.large_text{
    font-size: 120%;
    line-height: 120%;
}

#page.white [data-role="content"] {
    color: #000000;
}


/* ==========================================================================
   Page -- ta bort her eller i style.css??? TODO
   ========================================================================== */

#page {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    background-color: #1e1e1e;
}

#page.white {
    background-color: #ffffff;
}

/* ==========================================================================
   Header with menu
   ========================================================================== */
#page #header {
    padding: 0;
    margin: 0;
    background-image: url('./img/contentpage_header_backgr.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: bottom;
    border-width: 0;
    border-style: hidden;
    overflow: hidden;
    opacity: 1;
    z-index: 120 !important;
    border-width: 0 0 0.15em 0;
    border-style: solid;
    border-color: #666666;
}

#page #menu_box{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#page #marg_top_menu{
    padding: 0;
    margin: 0;
    padding-bottom: 3.6%;
}

#page #marg_left_menu{
    padding: 0;
    margin: 0;
    padding-bottom: 1%;
    width: 3.6%;
    float: left; 
}

#page #btn_heraldisk, 
#page #btn_menu, 
#page #btn_color_toggle, 
#page #btn_txsize, 
#page #btn_end, 
#page #btn_settings{
    padding: 0;
    margin: 0;
    background-image: url('./img/btn_heraldisk.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 10.75%;
    width: 10.8%;
    float: left;  
    margin-right: -0.1%;
    margin-left: -0.1%;
}

#page #btn_menu {
    background-image: url('./img/btn_menu.svg');
    margin-left: -0.01%;
}

#page #btn_color_toggle {
    background-image: url('./img/btn_color_toggle.svg');
}

#page #btn_txsize {
    background-image: url('./img/btn_txsize.svg');
}

#page #btn_end {
    background-image: url('./img/btn_end.svg');
    margin-left: -0.001%;
    
}

#page #btn_settings {
    background-image: url('./img/btn_menu.svg');
    float: right;
    
}

#page #btn_secondary.hide_it {
    display: none;
}


/* ==========================================================================
   modal window
   ========================================================================== */

/* Z-index of #mask must lower than #boxes .window */
#page #mlab_mask {
    position:absolute;
    z-index:9000;
    background-color:#000000;
    display:none;
    top: 0;
    left: 0;
}
  
#page #mlab_boxes .mlab_window {
    position:fixed;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
}
/* Customize your modal window here, you can add background image too */
#page #mlab_boxes #mlab_dialog {
    width:375px; 
    height:203px;
}


/* ==========================================================================
   Left and right navigation panel
   ========================================================================== */
#page #panel_left, 
#page #panel_right {
    padding: 0;
    padding-bottom: 8%;
    width: 7.2%;
    margin: 2%;
    //width: 60px;
    //height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    //position: fixed;
    //display: block;
    //top: 39.5%;
    //z-index: 99; 
    //border: 1px red solid;
}

#page #mlab_page_num {
    float: left;
    margin-left: 35%;
    margin-top: 5%;
}

#page #panel_left {
    background-image: url('./img/contentpage_dark_backpage.svg') !important;
    //left: 0;
    float: left;
    //margin-left: 2%;
}

#page #panel_right {
    background-image: url('./img/contentpage_dark_nextpage.svg') !important;    
    //right: 0;
    float: right;
    //margin-right: 2%;
}

#page.white #panel_left {
    background-image: url('./img/contentpage_white_backpage.svg') !important;
}


#page.white #panel_right {
    background-image: url('./img/contentpage_white_nextpage.svg') !important;    
}

/* ==========================================================================
   Gradient top and bottom
   ========================================================================== */
#page #gradient_top, 
#page #gradient_bottom{
    width: 100%;
    padding-bottom: 10.8%;
}

#page #gradient_top, 
#page #gradient_bottom {
    position: fixed;
    display: block;
}

#page #gradient_top {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 5%,  rgba(0, 0, 0, 0) 100%);
}

#page #gradient_bottom{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,  rgba(0, 0, 0, 1) 95%);
}

#page #gradient_bottom {
    bottom: 0;
}

#page.white #gradient_top{
    background: linear-gradient(to bottom, rgba(256, 256, 256, 1) 5%,  rgba(0, 0, 0, 0) 90%);
}

#page.white #gradient_bottom{
    background: linear-gradient(to bottom, rgba(256, 256, 256, 0) 0%,  rgba(256, 256, 256, 1) 95%);
}

/* ==========================================================================
   Content TODO what to use? [data-role="content"]? 
   ========================================================================== */
#page [data-role="content"] {
   margin-top: 15%;
   margin-bottom: 7.2%;
   margin-left: 7.2%;
   margin-right: 7.2%;
}

#page #content {
    margin-top: 0;
    overflow-y: visible;
    overflow-x: hidden;
}


/* ==========================================================================
   Footer
   ========================================================================== */
#page #footer{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0);
    opacity: 1;
    border-width: 0;
    position: fixed;
    display: block;
    bottom: 0px;
    border-style: none;
}

#page #footer.hide_it {
    display: none;
}


/* ==========================================================================
   Slider
   ========================================================================== */
#page #slider_box{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #1e1e1e;
    border-width: 0.15em 0 0 0;
    border-style: solid;
    border-color: #666666;
}

#page #marg_left_slider{
    padding: 0;
    margin: 0;
    padding-bottom: 1%;
    width: 7.2%;
    float: left; 
}

#page #mid_with_slider{
    padding: 0;
    margin: 0;
    padding-top: 4.4%;
    padding-bottom: 6.4%;
    width: 85.6%;
    float: left;  
    
}

#page #marg_right_slider{
    padding: 0;
    margin: 0;
    padding-bottom: 1%;
    width: 7.2%;
    float: left; 
}

#page div.ui-slider{
    height: 1%;
}

#page div.ui-slider-track.ui-corner-all{
    background-color: #e1e2e0;
    border-color: #666666;
    border: 0;
    border-radius: 0.0em;
    margin: 0px;
    height: 10px;
    box-shadow: 
    0 1px 2px #666, /*bottom external highlight*/
    0 -1px 1px #000, /*top external shadow*/ 
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
    inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

#page div.ui-slider-bg, 
#page div.ui-btn-active {
    background-color: #5b1762 !important;
}

.ui-page-theme-a .ui-bar-inherit {
    background-color: #e1e2e0;
} 

.ui-page-theme-a .ui-btn{
   background: none repeat scroll 0% 0% #666666 !important;
   border-color: #CCCCCC !important;
   color: #CCCCCC !important;
   text-shadow: 0px 0px 0px #CCCCCC !important;
}

.ui-page-theme-a a{
    font-weight: normal;
}
.ui-page-theme-a .ui-btn:focus{
    box-shadow: 0 0 0 rgb(0, 0, 0)!important;
}
.ui-slider-track .ui-btn.ui-slider-handle{
   width: 40px;
   height: 20px;
   line-height: 20px;
   font-size: 0.8em;
   margin: -12px 0px 0px -12px 
}


/* ==========================================================================
  To hide an element from the app builder - add the class "mlab_hide_in_app_builder"
  to the element - the App Builder will have a stylesheet with the syntax:

.mlab_hide_in_app_builder {
    display: none !important;
}
========================================================================== */