/* Style Sheet for the Basic template
   Developer: Cecilie Jackbo Gran @ Sinett/FFI.no
*/


/* ==========================================================================
   Page
   ========================================================================== */

#page #mlab_content {
   margin-top: 15%;
   margin-bottom: 5%;
   margin-left: 5%;
   margin-right: 5%;
}

#page #content {
    overflow-y: visible;
    overflow-x: hidden;
}


/* ==========================================================================
   Typography
   ========================================================================== */
    #page #mlab_editable_area {
        font-size: 100%;
    }

    #page #mlab_editable_area .mlab_large_text{
        font-size: 140%;
    }


/* ==========================================================================
   Header
   ========================================================================== */
#page #mlab_header {
    padding: 0;
    margin: 0;
    background-image: url('./img/contentpage_header_backgr.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: bottom;
    border-width: 0;
    border-style: hidden;
    overflow: hidden;
    opacity: 1;
    z-index: 120 !important;
    border-width: 0 0 0.15em 0;
    border-style: solid;
    border-color: #666666;
}

#page #mlab_header_box{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#page #mlab_previous_page, 
#page #mlab_next_page {
    padding-bottom: 8%;
    width: 7%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2.5%;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    background-image: url('./img/btn_prev.svg');
}

#page #mlab_next_page {
    background-image: url('./img/btn_next.svg');  
    float: right;
}

#page #mlab_page_name {
    float: left;
    max-width: 34%;
    width: 34%;
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 100%;
    font-size: 4vw;
}

#page #mlab_btn_menu, 
#page #mlab_btn_heraldisk,  
#page #mlab_btn_settings{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 10%;
    float: left;  
}

#page #mlab_btn_menu {
    background-image: url('./img/btn_menu.svg');
    width: 7%;
    margin-right: 5%;
}

#page #mlab_btn_heraldisk {
    background-image: url('./img/btn_heraldisk.svg');
    width: 10%;
    margin-left: 5%;
    margin-top: 1%;
}

#page #mlab_btn_settings {
    background-image: url('./img/btn_settings.svg');
    width: 7%;
    float: right;
    margin-left: 5%;
}


/* ==========================================================================
   Menu and Settings Panel
   ========================================================================== */
#page #mlab_menu_panel, 
#page #mlab_settings_panel {
    padding: 1%;
    background-color: #ffffff;
    color: #333333; 
    opacity: 0.92;
}

#page #mlab_settings_heading,
#page #mlab_menu_heading {
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 3em;
}

#page #mlab_settings_heading {
    padding-top: 2em;
}

#page #mlab_hr_panel {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#page #mlab_settings_text,
#page #mlab_menu_text {
    font-size: 0.9em;
    margin-top: 0.5em;
}

#page #mlab_btn_color_toggle, 
#page #mlab_btn_txsize_toggle,
#page #mlab_btn_close,
#page #mlab_btn_close_menu {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 4em;
    width: 4em;
    float: left; 
    background-image: url('./img/btn_color_toggle.svg');
}

#page #mlab_btn_txsize_toggle {
    background-image: url('./img/btn_txsize.svg');
}

#page #mlab_btn_close,
#page #mlab_btn_close_menu {
    background-image: url('./img/btn_close.svg');
    float: right;
    margin-top: 0em;
    width: 1.7em;
}

#page #mlab_btn_close_menu {
    float: left;
}

#page #mlab_creators {
    font-size: 0.7em;
}

/* ==========================================================================
  To hide an element from the app builder - add the class "mlab_hide_in_app_builder"
  to the element - the App Builder will have a stylesheet with the syntax:

.mlab_hide_in_app_builder {
    display: none !important;
}
========================================================================== */