/* ==========================================================================
   This is the styles for the mlab editor 
   (the top menu has its own css)

   To be sure that the templates css not overwrites anytihng that has to do
   with toolbars under the main menu line:
   1. The component toolbar (to the left)
   2. The page controls and management (over the app area/page), 
   3. The toolbar that switches for each component (to the right)
   4. The overlay info box
   5. The warning box of the rules set by the template
   6. The app area - just the outline, not the content of it
   
   The styles allways begins with:
   
   1. #mlab_editor #mlab_toolbar_components
   2. #mlab_editor #mlab_page_control
   2. #mlab_editor #mlab_page_management
   3. #mlab_editor #mlab_toolbar_for_components 
   4. #mlab_editor #mlab_overlay
   5. #mlab_editor #mlab_template_warning
   6. #mlab_editor #mlab_container

   ========================================================================== */

/* Added so that the elements of the container don't wrap if the screen is 
made smaler than the min width */
#mlab_editor {
    min-width: 1000px;
}

/* Used to hide different elements with javascript */
.mlab_hidden {
    display: none;
}

/* Used to hide elements that comes from the template */
.mlab_hide_in_app_builder {
    display: none !important;
}

#mlab_editor .mlab_align_menu_elements .mlab_permanent_top_menu {
    position: fixed;
    z-index: 10;
    background-color: white;
    padding-bottom: 25px;
    width: 100%;
}


/* ==========================================================================
   1. The component toolbar
   ========================================================================== */

#mlab_editor #mlab_toolbar_components {
    display: block;
    float: left;
    width: 145px;
    margin-top: 65px;
    overflow-y: auto;
    height: 75%;
    position: fixed;
} 

#mlab_editor #mlab_toolbar_components .mlab_button_components {
    background-image: url(/Users/cjg/GitHub/nyeMLAB/mlab_elements/components/h1/icon.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 64px;
    height: 64px;
    line-height: 0px;
    cursor: pointer;
}

#mlab_editor .mlab_component_tooltip,
#mlab_editor .mlab_component_extended_tooltip,
#mlab_editor [data-mlab-download-link-info] {
    display: none;
}
#mlab_editor .mlab_download_link{
   padding-top: 10px; 
}

#mlab_editor .mlab_qtip_tooltip.qtip{
    max-width: 250px;
    background-color: white;
    color: black;
    border: solid orange 2px;
    box-shadow: 5px 5px 5px darkslategray;
    padding: 6px;
    line-height: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#mlab_editor .mlab_qtip_tooltip .qtip-titlebar {
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0px;
    padding-bottom: 10px;
    background-color: white;
}

#mlab_editor .mlab_qtip_menu_tooltip.qtip{
    z-index: 20000 !important;
}

#mlab_editor .mlab_component_tooltip_link{
    color: blue;
    font-weight: bold;
}

#mlab_editor .mlab_qtip_tooltip.qtip p{
    margin: 0 0 6px;
}

#mlab_editor .mlab_qtip_tooltip.qtip h1{
    font-size: 20px;
    line-height: 1.1;
    margin: 0 0 5px;
}

#mlab_editor .mlab_qtip_tooltip.qtip img{
    float: left;
    margin: 10px 10px 10px 0;
}

#mlab_editor .mlab_qtip_tooltip.qtip .info{
    overflow: hidden;
}

#mlab_editor .mlab_qtip_tooltip.qtip p.note{
    font-weight: 700;
}


/* ==========================================================================
   2. The page controls and management
   ========================================================================== */

/* The page controls */
#mlab_editor #mlab_page_control {
    padding: 30px 0px 0px 170px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    width: 644px;
    height: 20px;
    position: static;
}

#mlab_editor #mlab_page_control .mlab_page_control_label {
    float: left;
    border: 0;
    padding: 4px;
    margin: 0;
    margin-right: 2px;
    font-size: 14px;
    font-weight: bold;
}

#mlab_editor #mlab_page_control #mlab_page_control_title {
    float: left;
    width: 200px;
    border: 2px solid orange;
    border-radius: 2px;
    padding: 4px;
    margin-top: 0;
    margin-right: 7px;
    font-size: 12px;
    font-weight: normal;
}

#mlab_editor .mlab_align_menu_elements .mlab_gradient {
  background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1), rgba(255,255,255,0));
  background: -moz-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1), rgba(255,255,255,0));
  background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1), rgba(255,255,255,0));
}

#mlab_editor #mlab_page_control #mlab_page_control_pagelist {
    float: left;
    margin-right: 8px;
    width: 18px;
    margin-top: 8px;
}

#mlab_editor #mlab_page_control .mlab_button_undo,
#mlab_editor #mlab_page_control .mlab_button_redo{
    float: right;
    padding: 5px 4px 0px 0px;
}

#mlab_editor #mlab_page_control #mlab_page_control_new {
    float: left;
    width: 20px;
    margin-top: 1px;
}

#mlab_editor #mlab_page_control .mlab_dt_button_ok_left,
#mlab_editor #mlab_page_control .mlab_dt_button_cancel_left {
    float: left;
}

/* The page management */
#mlab_editor #mlab_page_management {
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    position: absolute;
    left: 220px;
    top: 104px;
    z-index: 980;
    min-width: 250px;
    max-width: 350px;
    background: #FFFFFF;
    height: 200px;
    border: 1px solid #777777;
    border-radius: 2px;
    padding: 12px;
    padding-left: 30px;
}

#mlab_editor #mlab_page_management #mlab_page_management_info {
    padding: 15px;
    padding-left: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px; 
    color: #000000;
}

/* The current page */
#mlab_editor #mlab_page_management #mlab_existing_pages li {
    padding-bottom: 6px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px; 
    font-weight: bold;
    color: #000000;
    line-height: 12px;
}

#mlab_editor #mlab_page_management #mlab_existing_pages li a {
    color: #000000;  
    font-weight: normal;
}

#mlab_editor #mlab_page_management #mlab_page_control_delete {
    width: 16px;
    padding-left:2px;
    vertical-align: text-bottom;
}

#mlab_editor #mlab_page_management #mlab_existing_pages .mlab_copy_file,
#mlab_editor #mlab_page_management #mlab_existing_pages .mlab_not_copy_file {
    margin-right: 10px;
    padding-bottom: 5px;
    padding-right: 25px;
}

#mlab_editor #mlab_page_management #mlab_existing_pages .mlab_copy_file {
    background-image: url("/img/copy_page.png");
    background-position: left center;
    background-repeat: no-repeat;
}


/* ==========================================================================
   3. The toolbar that switches for each component 
   ========================================================================== */

#mlab_editor #mlab_toolbar_for_components {
    display: block;
    padding: 5px;
    max-width: 98px;
    /*float: left;
    border: orange dotted 3px;
    margin-top: 25px;
    margin-left: 200px;
    position: fixed;
    top: 91px;
    left: 635px;*/
}

#mlab_editor #mlab_toolbar_for_components #mlab_component_toolbar_heading {
    font-family: Verdana, Arial, sans-serif;
    font-size:14px;
    text-align: center;
    text-align: -webkit-center;
    color: black;
    background-color: rgba(255,165,0,0.2);
    padding: 4px;
    margin: 0;
    margin-bottom: 5px;
}

#mlab_editor #mlab_toolbar_for_components .mlab_tools {
    padding: 1px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#mlab_editor #mlab_toolbar_for_components .mlab_tools_line {
    background-color: rgba(255,165,0,0.2);
    height: 1px;
    border: 0;
    margin: 5px 2px;
}

#mlab_editor #mlab_toolbar_for_components .mlab_newline {
    clear: both;
}

/* TODO - få inn en klasse så ikke bruker img? */
#mlab_editor #mlab_toolbar_for_components #mlab_component_context_menu img {
    padding: 2px;
    float: left;
}

/* makes the last clear div short */
#mlab_editor #mlab_toolbar_for_components #mlab_component_context_menu .clear {
    line-height: 2px;
}

/* TODO */
#mlab_editor div#mlab_toolbar_for_components img.missing_icon { 
    width: 28px;
    height: 28px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAEbgAABG4B0KOyaAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAD4SURBVDiNpdO9LoRREMbx3/iqRaKREIVCoVETlmoLiauwjbgAvWvQqH1cgyhU3IBCoVJoZBUiFMIo9hSb17vvZplkknPm43+emeRAB13kiN5FJ8rhBNdGsxb2FFo7M/U7VnGAQ2wjKvl26f0NwFGJf+OznM8xORSAjRK7wwJmcVtiO1XAWM1sK3jHfmY+ZuYzrkpuuW4ZVQWBub77Gl7xhqWhCrJnTxARm7gs0N3MfKjWT9RJ6rPjUrOVmTd1BXU7UF4PzONiUHOjgszMiFjHfZPEJgVTOMPpnwAYxzRmmgBNI3xExCK+hgFe0OrtrN4G5Fql93/f+QdOZKfScs6QZgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
}

/* TODO */
#mlab_editor div#mlab_toolbar_for_components img.select_storage {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXFJREFUeNrcVd1NwzAQNiGIPnqEbEDYoGzQDdps0EyAmCDdIHnkkQ1SJog7AWEC+ljET/gOXeAwdpQmkZA46eTcKb7/76zUv6Wz89kaXIIbwSSvjrFz4jCscZTguOPeBrwDRyxvX54P274OMhzrAUkXcJLYytNfijC8xTEb4CDG3cf3t1cjlYEV/RyHHtG6pa0ILLmeelgCET01LB9pb86TFv9oMk9OJaZiLFElLtH0fZvBYkLjim0tZIl8xmkirsA3A52osKO5n8YpTQISyliLHhGo7vn7oo3WOzDUA3AlVkLFuliuBzpJdoAzt1bKA/f1G8liijSXJeKV0eIiQTYFX4xE1IbXyjXLd+AU/9Zdi44if7KiakQmcgmWvXBgUeZBdD4YaBYlXCZJKc32JA6ofo71a6Azjn2lWdfvPbB60QixzchXc2rspm+JlCczyqrwYMal/wKaj1JRDsNOEmRGnysHICd9szMeV63+kj4EGAC1FXiWIdnqPQAAAABJRU5ErkJggg==);
}

/* TODO */
#mlab_editor div#mlab_component_context_menu img.edit_quiz { 
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXFJREFUeNrcVd1NwzAQNiGIPnqEbEDYoGzQDdps0EyAmCDdIHnkkQ1SJog7AWEC+ljET/gOXeAwdpQmkZA46eTcKb7/76zUv6Wz89kaXIIbwSSvjrFz4jCscZTguOPeBrwDRyxvX54P274OMhzrAUkXcJLYytNfijC8xTEb4CDG3cf3t1cjlYEV/RyHHtG6pa0ILLmeelgCET01LB9pb86TFv9oMk9OJaZiLFElLtH0fZvBYkLjim0tZIl8xmkirsA3A52osKO5n8YpTQISyliLHhGo7vn7oo3WOzDUA3AlVkLFuliuBzpJdoAzt1bKA/f1G8liijSXJeKV0eIiQTYFX4xE1IbXyjXLd+AU/9Zdi44if7KiakQmcgmWvXBgUeZBdD4YaBYlXCZJKc32JA6ofo71a6Azjn2lWdfvPbB60QixzchXc2rspm+JlCczyqrwYMal/wKaj1JRDsNOEmRGnysHICd9szMeV63+kj4EGAC1FXiWIdnqPQAAAABJRU5ErkJggg==);
}

#mlab_editor #mlab_dt_dialog_credentials{
    background-color: white;
    color: black;
    border: solid orange 2px;
    box-shadow: 5px 5px 5px darkslategray;
    padding: 6px;
    line-height: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/* ==========================================================================
   4. The overlay info box
   ========================================================================== */

#mlab_editor #mlab_overlay .mlab_modal {
    font-size: 2em;
    color: white;
    position: fixed;
    top: 150px;
    left: 325px;
    width: 300px;
    height: 200px;
    background-color: orange;
    text-align: center;
    vertical-align: middle;

    z-index: 1100; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
    padding: 15px;
    padding-top: 30px;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: orange 0px 0px 0px 1px inset, 
                white 0px 0px 0px 3px inset, 
                orange 0px 0px 0px 4px inset;
}


/* ==========================================================================
   5. The warning box of the rules set by the template
   ========================================================================== */

#mlab_editor #mlab_template_warning {
    display: block;
    font-family: Verdana, Arial, sans-serif;
    height: 0px;
    line-height: 0px;
    width: 868px;
    background: greenyellow;
}

#mlab_editor .mlab_qtip_info {
    z-index: 401; /* overskives av element style... */
    top: 109px;
    left: 323px;
    opacity: 1;
    display: block;
    height: auto;
    padding: 10px; 
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.8em;
    color: black;
    background-color: orange;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    outline: 9999px solid rgba(0,0,0,0.5);
    border: 4px solid rgb(255, 255, 255);
    box-shadow: orange 0px 0px 0px 1px inset, 
                white 0px 0px 0px 3px inset, 
                orange 0px 0px 0px 4px inset;
}

#mlab_editor .qtip-content {
    overflow: visible;
}

/*  */
#mlab_editor .qtip-content li {
    list-style: none;
}


/* ==========================================================================
   6. The app area/page - the styling of the content is handled by the template
                          and the mlab_component_config.css
   ========================================================================== */

#mlab_editor #mlab_editor_chrome {
    border: none;
    margin: 10px;
    margin-top: 20px;
    float: left;
    width: 644px;
    display: block;
    overflow-y: visible;
    overflow-x: visible;
    position: absolute;
    left: 160px;
    top: 105px;
    clear: both;
}

#mlab_editor #mlab_editor_chrome [data-role="page"] {
    overflow-y: visible;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: orange 0px 0px 0px 1px inset, 
                white 0px 0px 0px 3px inset, 
                orange 0px 0px 0px 4px inset;
    clear: both;
    height: auto !important;
}

/* Outlines the current selcted component */
#mlab_editor #mlab_editable_area .mlab_current_component {
    border: 3px dotted orange;
}

/* Gives the current selcted component a move icone when hovering it */
#mlab_editor #mlab_editable_area div[data-mlab-type].mlab_current_component:hover {
    background-image: url("/img/drag_white.png");
    background-position: right top;
    background-repeat: no-repeat;
}

/* The components - only in the editor */
#mlab_editor #mlab_editable_area div[data-mlab-type] {
    margin: 5px;
}



/* TEMP AV ARILD */

#mlab_editor ul.ui-autocomplete {
    z-index: 10000;
    background-color: wheat;
    border: 1px solid gray;
}

#mlab_editor .mlab_current_component_invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}


#mlab_editor .ui-state-active a, #mlab_editor .ui-state-active a:link, #mlab_editor .ui-state-active a:visited {
    color: white;
}

#mlab_editor .mlab_current_component_child {
    border: 1px greenyellow double !important;
}

#mlab_editor .mlab_current_component_grandchild {
    border: 1px white double !important;
}

