/* ==========================================================================
   This is the styles for the mlab editor 
   (the top menu has its own css)

   To be sure that the templates css not overwrites anytihng that has to do
   with toolbars under the main menu line:
   1. The component toolbar (to the left)
   2. The page controls and management (over the app area/page), 
   3. The toolbar that switches for each component (to the right)
   4. The overlay info box
   5. The warning box of the rules set by the template
   6. The app area - just the outline, not the content of it
   
   The styles allways begins with:
   
   1. #mlab_editor #mlab_toolbar_components
   2. #mlab_editor #mlab_page_control
   2. #mlab_editor #mlab_page_management
   3. #mlab_editor #mlab_toolbar_for_components 
   4. #mlab_editor #mlab_overlay
   5. #mlab_editor #mlab_template_warning
   6. #mlab_editor #mlab_container

   ========================================================================== */

/* Added so that the elements of the container don't wrap if the screen is 
made smaler than the min width */
#mlab_editor {
    min-width: 1024px;
}

/* Used to hide different elements with javascript */
.mlab_hidden {
    display: none;
}

/* Used to hide elements that comes from the template
   TODO - do we want to do it this way?? */
.mlab_hide_in_app_builder {
    display: none !important;
}

/* TODO - is tihis in use??? comented out to se if we are going to miss it... */
#mlab_editor_chrome div.ui-loader {
   /* ????? 
   display: none !important; 
   */
}


/* ==========================================================================
   1. The component toolbar
   ========================================================================== */

#mlab_editor #mlab_toolbar_components {
    display: block;
    float: left;
    width: 145px;
    line-height: 0px;
    padding-top: 55px;
    overflow-y: auto;
} 

#mlab_editor #mlab_toolbar_components .mlab_button_components {
    background-image: url(/Users/cjg/GitHub/nyeMLAB/mlab_elements/components/h1/icon.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 64px;
    height: 64px;
    line-height: 0px;
}


/* ==========================================================================
   2. The page controls and management
   ========================================================================== */

/* The page controls */
#mlab_editor #mlab_page_control {
    padding: 20px 0px 0px 320px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    width: 644px;
    height: 20px;
    position: static;
}

#mlab_editor #mlab_page_control #mlab_page_control_previous,
#mlab_editor #mlab_page_control #mlab_page_control_next {
    float: left;
    width: 10px;
    margin-top: 2px;
    margin-right: 15px;
}

#mlab_editor #mlab_page_control #mlab_page_control_title {
    float: left;
    width: 200px;
    border: 2px solid orange;
    border-radius: 2px;
    padding: 4px;
    margin-top: 0;
    margin-right: 7px;
    font-size: 12px;
    font-weight: normal;
}

#mlab_editor #mlab_page_control #mlab_page_control_pagelist {
    float: left;
    margin-right: 8px;
    width: 18px;
    margin-top: 8px;
}

#mlab_editor #mlab_page_control #mlab_page_control_new {
    float: left;
    width: 20px;
    margin-top: 1px;
}

/* The page management */
#mlab_editor #mlab_page_management {
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    position: absolute;
    left: 370px;
    top: 100px;
    z-index: 980;
    width: 350px;
    background: #FFFFFF;
    height: 200px;
    border: 1px solid #777777;
    border-radius: 2px;
    padding: 12px;
    padding-left: 30px;
}

#mlab_editor #mlab_page_management #mlab_page_management_info {
    padding: 15px;
    padding-left: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px; 
    color: #000000;
}

/* The current page */
#mlab_editor #mlab_page_management #mlab_existing_pages li {
    padding-bottom: 6px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px; 
    font-weight: bold;
    color: #000000;
    line-height: 12px;
}

#mlab_editor #mlab_page_management #mlab_existing_pages li a {
    color: #000000;  
    font-weight: normal;
}

#mlab_editor #mlab_page_management #mlab_page_control_delete {
    width: 16px;
    padding-left:2px;
    vertical-align: text-bottom;
}

#mlab_editor #mlab_page_management #mlab_existing_pages .mlab_copy_file,
#mlab_editor #mlab_page_management #mlab_existing_pages .mlab_not_copy_file {
    margin-right: 10px;
    padding-bottom: 5px;
    padding-right: 25px;
}

#mlab_editor #mlab_page_management #mlab_existing_pages .mlab_copy_file {
    background-image: url("/img/copy_page.png");
    background-position: left center;
    background-repeat: no-repeat;
}


/* ==========================================================================
   3. The toolbar that switches for each component 
   ========================================================================== */

#mlab_editor #mlab_toolbar_for_components {
    display: block;
    float: left;
    border: orange dotted 3px;
    padding: 5px;
    margin-top: 25px;
    margin-left: 200px;
    max-width: 80px;
}

#mlab_editor #mlab_toolbar_for_components #mlab_component_toolbar_heading {
    font-family: Verdana, Arial, sans-serif;
    font-size:12px;
    color: black;
    background-color: rgba(255,165,0,0.2);
    padding: 2px;
    margin: 2px;
    margin-bottom: 5px;
}

/* TODO - få inn en klasse så ikke bruker img? */
#mlab_editor #mlab_toolbar_for_components #mlab_component_context_menu img {
    padding: 2px;
}

/* makes the last clear div short */
#mlab_editor #mlab_toolbar_for_components #mlab_component_context_menu .clear {
    line-height: 2px;
}

/* TODO */
#mlab_editor div#mlab_toolbar_for_components img.missing_icon {
    width: 16px;
    height: 16px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAEbgAABG4B0KOyaAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAD4SURBVDiNpdO9LoRREMbx3/iqRaKREIVCoVETlmoLiauwjbgAvWvQqH1cgyhU3IBCoVJoZBUiFMIo9hSb17vvZplkknPm43+emeRAB13kiN5FJ8rhBNdGsxb2FFo7M/U7VnGAQ2wjKvl26f0NwFGJf+OznM8xORSAjRK7wwJmcVtiO1XAWM1sK3jHfmY+ZuYzrkpuuW4ZVQWBub77Gl7xhqWhCrJnTxARm7gs0N3MfKjWT9RJ6rPjUrOVmTd1BXU7UF4PzONiUHOjgszMiFjHfZPEJgVTOMPpnwAYxzRmmgBNI3xExCK+hgFe0OrtrN4G5Fql93/f+QdOZKfScs6QZgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
}

/* TODO */
#mlab_editor div#mlab_toolbar_for_components img.select_storage {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAnNCSVQICFXsRgQAAAAJcEhZcwAAAjcAAAI3AfcGRMIAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAA4ElEQVQokXXRsSsEcBQH8M+iMEisNonkL+DKYhAli2RRFsrgP2AxmBSDSWxKJrOBbjpFWZTBZJGSRDcYnK/FOXfn+i7v1/u83/CeqEWPzr/viFoxrqSi7NiioSZg2GvdYFHvL9Bm1bPGvx+t6Qi63Dc1q3nSx3LLdsQ6FyK+LJk15UzsmVP8AbeciLixIcpm7NpWMe9axAFjKuLSjoh+KyLKJryLUWHandIP6LbpUzxYsK9Q20NHFYQPcdq4qIIrEVutwIg3EYctQJj06VxbeBFHTSAMaI8waLJ6iTrwf74BqMXT4d5gXgMAAAAASUVORK5CYII=);
}


/* ==========================================================================
   4. The overlay info box
   ========================================================================== */

#mlab_editor #mlab_overlay .mlab_modal {
    font-size: 2em;
    color: white;
    position: fixed;
    top: 150px;
    left: 325px;
    width: 300px;
    height: 200px;
    background-color: orange;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    z-index: 1100; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
    padding: 15px;
    padding-top: 30px;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: orange 0px 0px 0px 1px inset, 
                white 0px 0px 0px 3px inset, 
                orange 0px 0px 0px 4px inset;
}


/* ==========================================================================
   5. The warning box of the rules set by the template
   ========================================================================== */

#mlab_editor #mlab_template_warning {
    display: block;
    font-family: Verdana, Arial, sans-serif;
    height: 0px;
    line-height: 0px;
    width: 868px;
    background: greenyellow;
}

#mlab_editor .mlab_qtip_info {
    z-index: 401; /* overskives av element style... */
    top: 109px;
    left: 323px;
    opacity: 1;
    display: block;
    height: auto;
    padding: 10px; 
    font-size: 1em;
    color: white;
    background-color: orange;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    outline: 9999px solid rgba(0,0,0,0.5);
    border: 4px solid rgb(255, 255, 255);
    box-shadow: orange 0px 0px 0px 1px inset, 
                white 0px 0px 0px 3px inset, 
                orange 0px 0px 0px 4px inset;
}

#mlab_editor .qtip-content {
    overflow: visible;
}

/*  */
#mlab_editor .qtip-content li {
    list-style: none;
}


/* ==========================================================================
   6. The app area/page - the styling of the content is handled by the template
                          and the mlab_component_config.css
   ========================================================================== */

#mlab_editor #mlab_editor_chrome {
    border: none;
    margin: 10px;
    margin-top: 20px;
    float: left;
    width: 644px;
    display: block;
    overflow-y: visible;
    overflow-x: visible;
    position: absolute;
    left: 160px;
    clear: both;
}

#mlab_editor #mlab_editor_chrome #page {
    overflow-y: visible;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: orange 0px 0px 0px 1px inset, 
                white 0px 0px 0px 3px inset, 
                orange 0px 0px 0px 4px inset;
    clear: both;
    height: auto !important;
}

/* Outlines the current selcted component */
#mlab_editor #mlab_editable_area .mlab_current_component {
    border: 3px dotted orange;
}

/* Gives the current selcted component a move icone when hovering it */
#mlab_editor #mlab_editable_area div[data-mlab-type].mlab_current_component:hover {
    background-image: url("/img/drag_white.png");
    background-position: right top;
    background-repeat: no-repeat;
}

/* The components - only in the editor */
#mlab_editor #mlab_editable_area div[data-mlab-type] {
    margin: 5px;
}


/* ==========================================================================
   SLETTES??????????????????....
   ========================================================================== */

/* brukes denne???
.mlab_component_placeholder {
    border: 2px dotted gray;
    height: 50px;
    width: 98%;
    margin: 0 1%;
    background-color: #d7eef7;
}
*/

/* brukes dette??? 
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green *//*
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon *//*
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange *//*
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue *//*
}


google maps??????
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
                                                             */
    


/*
.mlab_template_select {
    width: 267px; 
    height: 232px; 
}

.template_select {
    border: 1px solid blue;
}

.has-js .label_check,
.has-js .label_radio { padding-left: 34px; }
.has-js .label_radio { background: url(radio-off.png) no-repeat; }
.has-js .label_check { background: url(check-off.png) no-repeat; }
.has-js label.c_on { background: url(check-on.png) no-repeat; }
.has-js label.r_on { background: url(radio-on.png) no-repeat; }
.has-js .label_check input,
.has-js .label_radio input { position: absolute; left: -9999px; }






#mlab_property_uploadfiles, 
#mlab_property_uploadfiles_start {
    float: left;
    clear: both;
}

[contentEditable=true]:empty:not(:focus):before {
        content:attr(data-mlab_placeholder)
}
*/