{% extends '::base.html.twig' %}

{% block body -%}

    <h1 onclick='$("li").css("color", "red")'>{% trans %}app.builder.index.page.heading{% endtrans %}</h1> 
    <p style="width: 1024px;">
       {% trans %}app.builder.index.page.text{% endtrans %} {% trans %}app.builder.index.page.link.text.before{% endtrans %} <a href="{{ path('app_builder_index')}}">{% trans %}app.builder.index.page.link.app.list{% endtrans %}</a> {% trans %}app.builder.index.page.link.text.after{% endtrans %}
        <br><br>
        <img src="{{ asset('/img/frontpage_six_steps.png') }}" >
    </p>

{% endblock %}