{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)
@author Cecilie Jackbo Gran/Sinett 3.0 programme (firstname.middlename.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
{% extends '::base.html.twig' %}
{% block title %}{% trans %}mlab.page.title.index{% endtrans %}{% endblock %}
{% block body -%}

    
    <div class="mlab_frontpage">
        {% if app.user == null %} <!-- If not loged in -->
            <h1 class="frontpage_heading">{% trans %}app.builder.index.page.heading{% endtrans %}</h1>
            <p class="frontpage_info">{% trans %}app.builder.index.page.text{% endtrans %}</p>
            <a target="_top" href="{{ path('fos_user_security_login') }}"><p class="button">{% trans %}app.builder.menu.link.login{% endtrans %}</p></a>
        {% else %} <!-- If loged in --> 
            <!-- Automatically redirected to the builder page with the app list--> 
        {% endif %}
        
        
       
    </div>
{% endblock %}