<!DOCTYPE html>
<!--
    
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>FHS</title>
    </head>
    <body>
    <!--
   		Skulle det vært en reset her? 
	-->
   		<div id="surround_all">
      		<div class="container-fluid" id="header">
	  			<div id="menu_button_logo_open_close"></div> 
	  			<div id="menu_button_goto_index"></div>
	  			<div id="menu_button_toggle_color"></div>
	  			<div id="menu_button_toogle_fontsize"></div>
	  			<div id="menu_end_sloped_img"></div>
	  			
	  			<div id="app_title"> Her kommer det en tittel og den er litt lang </div>
      		</div>
      
      		<div id="military_branch" class="joint"></div>
      
	  		<div id="content_background" class="dark">
	  			<div id="margin_twiiik"></div>
	  			<div id="index_list_item" class="dark">
					Første side
	 			</div>
	 			<div id="index_list_item" class="dark">
					Andre side som har en ganske så lang tekst så den går over flere linjer
	 			</div>
	 			<div id="index_list_item" class="dark">
					Tredje side
	 			</div>
	 			<div id="index_list_item" class="dark">
					Fjerde side
	 			</div>
	 			<div id="index_list_item" class="dark">
					Femte side
	 			</div>
	 			<div id="index_list_item" class="dark">
					Sjette side
	 			</div>
	 			<div id="margin_twiiik"></div>
	 		</div>
      	</div>
      	<script type="text/javascript" src="cordova-2.6.0.js"></script>
      	<script type="text/javascript" src="js/index.js"></script>
      	<script type="text/javascript">
            app.initialize();
      	</script>
    </body>
</html>




