/* main design */
div.mlab_cp_eventcal {
    max-height: calc(width*2);
    overflow-y: auto;
}

div.mlab_cp_eventcal div {
    display: block;
    float: left;
    clear: both;
    padding: 3px;
}

div.mlab_cp_eventcal div.mlab_eventcal_time {
    float: right;
    width: 19%;
    clear: none;
}

div.mlab_cp_eventcal div.mlab_eventcal_summary {
    width: 79%;
}
