{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}

    <table class="records_list" id="table_user">
        <thead>
            <tr>
                <th>{% trans %}app.admin.users.username{% endtrans %}</th>
                <th>{% trans %}app.admin.users.email{% endtrans %}</th>
                <th>{% trans %}app.admin.users.groups{% endtrans %}</th>
                <th>{% trans %}app.admin.users.last.login{% endtrans %}</th>
                <th> <button class="icon_button new-user-button" url="{{ path('user_new') }}" title="{% trans %}app.admin.users.tooltip.new.user{% endtrans %}"></a></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        	{{ include( 'SinettMLABBuilderBundle:User:show.html.twig', { 'entity': entity } ) }}
        {% endfor %}
        </tbody>
    </table>

   
           

    {% endblock %}
