/*

Designd by: Cecilie Jackbo Gran
Use this classes as a base when designing new templates, as theese classes are 
used by all the standard Mlab components and componenetes that are developed 
by the Mlab guiedlines. We used the prefix mc where mc stands for mlab component.


The styling is divided in to three parts; 

1) First you consider in witch of the follwing categories the element belongs;

.mc_text 
.mc_figure - all that is not a text....
.mc_container - 

2) If the element is an text or a figure then consider the possible actions the 
elements is related to.  

Mlab defined 4 main classes where most elemenst will fit in; 
.mc_link
.mc_interactive
.mc_display
.mc_entry

3) Then each of the actions have spesifc attribures..egenskaper nei... for 
styling... TODO
*/


/* ==========================================================================
   Element categories 
   ========================================================================== */
/*  All elements that are used as a container for other elements - like the <ul>
part of a list */
#mlab_editor .mc_container,
.mlab_main_body_content .mc_container{
    margin: 0;
    padding: 0;
    border: none;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/*  All text elements - as a heading or an ingress */
#mlab_editor .mc_text,
.mlab_main_body_content .mc_text {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.15em;
    font-family: Arial,sans-serif;
    font-style: normal;
    text-shadow: none;
    color: #ffffff;  
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/*  All other elments will be some kind of figure - as an image or a map*/
#mlab_editor .mc_figure,
.mlab_main_body_content .mc_figure {
    margin: 0;
    padding: 0;
    border: none;
    max-height: 100%; 
    max-width: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    width: 100% !important;
    /* height: auto; /* !important;*/
    display: block;
}

/* ==========================================================================
   Container -for elements that are a container for other elements
   ========================================================================== */
/*  For a container that will contain an index list */
#mlab_editor .mc_container.mc_index,
.mlab_main_body_content .mc_container.mc_index {

}

/*  For a container that will contain simpel list */
#mlab_editor .mc_container.mc_list,
.mlab_main_body_content .mc_container.mc_list {
    padding:0 2em 0 1.25em;  
    list-style-position:outside;
    margin: 0.6em 0;
}

/* TODO finne ett bedre navn ( er  nå brukt i to komponenter img og img_text) */
#mlab_editor .mc_container.mc_picture_and_text,
.mlab_main_body_content .mc_container.mc_picture_and_text {
    margin: 7px 25px 0 0;
    float: left; 
    width: 50%; 
    display: block
}


/* ==========================================================================
   The actions the elements are related to
   ========================================================================== */

/* For elements that are only showed/displayed to the user */
#mlab_editor .mc_display,
.mlab_main_body_content .mc_display {

}

/* For elements that are going to be a link */
#mlab_editor .mc_link,
.mlab_main_body_content .mc_link {
   
}

/* For elements that the user is going to interact with */
#mlab_editor .mc_interactive,
.mlab_main_body_content .mc_interactive {
    
}

/* For elements that requiers an input/entry from the user */
#mlab_editor .mc_entry,
.mlab_main_body_content .mc_entry {
    
}

/* ==========================================================================
   Styles that can be used with more than one of the main classes
   ========================================================================== */


/* 33% */
#mlab_editor .mc_small,
.mlab_main_body_content .mc_small {
    
}

/* 66% */
#mlab_editor .mc_medium,
.mlab_main_body_content .mc_medium {
    
}

/* 100% */
#mlab_editor .mc_large,
.mlab_main_body_content .mc_large {   
    
}

/*  All text elements - as a heading or an ingress */
#mlab_editor .mc_text.mc_dark,
.mlab_main_body_content .mc_text.mc_dark {
    color: #000000;  
}


/*  */
#mlab_editor .mc_text.mc_small,
.mlab_main_body_content .mc_text.mc_small {
    font-size: 0.8em !important; 
}

/* */
#mlab_editor .mc_text.mc_medium,
.mlab_main_body_content .mc_text.mc_medium {
    font-size: 1em !important;
}

/*  */
#mlab_editor .mc_text.mc_large,
.mlab_main_body_content .mc_text.mc_large {
    font-size: 1.2em !important;
}

/*  */
#mlab_editor .mc_text.mc_heading.mc_small,
.mlab_main_body_content .mc_text.mc_heading.mc_small {
    font-size: 1.12em !important;
    margin: 0.6em 0; 
}

/* */
#mlab_editor .mc_text.mc_heading.mc_medium,
.mlab_main_body_content .mc_text.mc_heading.mc_medium {
    font-size: 1.27em !important;
    margin: 0.7em 0; 
}

/*  */
#mlab_editor .mc_text.mc_heading.mc_large,
.mlab_main_body_content .mc_text.mc_heading.mc_large {
    font-size: 1.45em !important;
    margin: 0.8em 0; 
}

/*  */
#mlab_editor .mc_left,
.mlab_main_body_content .mc_left {
    
}

/*  */
#mlab_editor .mc_center,
.mlab_main_body_content .mc_center {
    
}

/* */
#mlab_editor .mc_right,
.mlab_main_body_content .mc_right {
    
}

/*  ???? skal vi legge inn dette her? Blir i forhold til knappene til komponenten */
#mlab_editor .mc_resizable,
.mlab_main_body_content .mc_resizable {
    
}


/* ==========================================================================
   Display -for elements that are only showed/displayed to the user
   ========================================================================== */
/* A heading display element */
#mlab_editor .mc_display.mc_heading,
.mlab_main_body_content .mc_display.mc_heading {
    
}

/* A chapter display element */
#mlab_editor .mc_display.mc_chapter,
.mlab_main_body_content .mc_display.mc_chapter {
    color: white;
}

/* An ingress display element - typically below a heading */
#mlab_editor .mc_display.mc_ingress,
.mlab_main_body_content .mc_display.mc_ingress {
    font-style: italic;
}

/* A text display element */
#mlab_editor .mc_display.mc_text,
.mlab_main_body_content .mc_display.mc_text {

}

/* */
#mlab_editor .mc_display.mc_qr_border,
.mlab_main_body_content .mc_display.mc_qr_border {
    border: solid 10px white;
    padding: 0px;
}

/* TODO annet navn???  */
#mlab_editor .mc_display.mc_figure_with_caption,
.mlab_main_body_content .mc_display.mc_figure_with_caption {
    margin-bottom: 0;
}

/*  TODO trenger vi denne? */
#mlab_editor .mc_display.mc_figure_in_text,
.mlab_main_body_content .mc_display.mc_figure_in_text {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0;
}

/*  */
#mlab_editor .mc_display.mc_figure_text,
.mlab_main_body_content .mc_display.mc_figure_text {
   text-align: center;
   font-style: italic;
   font-size: 0.9em;
}

/* */
#mlab_editor .mc_display.mc_list.mc_numeric,
.mlab_main_body_content .mc_display.mc_list.mc_numeric {
    list-style-type: decimal;
}

/* */
#mlab_editor .mc_display.mc_list.mc_bullet,
.mlab_main_body_content .mc_display.mc_list.mc_bullet {
    list-style-type: square;  
}

/* For display elements that is an output of an entry from the user */
#mlab_editor .mc_display.mc_output,
.mlab_main_body_content .mc_display.mc_output {
    
}

/* For display elements that is an output from a live output (ex twitterfeed) */
#mlab_editor .mc_display.mc_live_output,
.mlab_main_body_content .mc_display.mc_live_output {
    
}

/* For display elements that is an error message */
#mlab_editor .mc_display.mc_error,
.mlab_main_body_content .mc_display.mc_error {
    
}

/* For display elements that indicates a required entry element */
#mlab_editor .mc_display.mc_required,
.mlab_main_body_content .mc_display.mc_required {
    
}

/* For display elements that indicates a entry element that can not be selected */
#mlab_editor .mc_display.mc_disabled,
.mlab_main_body_content .mc_display.mc_disabled {
    
}

/* For display elements that need to be emphasized */
#mlab_editor .mc_display.mc_emphasize,
.mlab_main_body_content .mc_display.mc_emphasize {
    
}

/* For display elements that should have less focus  */
#mlab_editor .mc_display.mc_depreciate,
.mlab_main_body_content .mc_display.mc_depreciate {
    
}


/* ==========================================================================
   Link -for elements that are going to be a link
   ========================================================================== */
/* For text elements that are going to be a link */
#mlab_editor .mc_link.mc_text,
.mlab_main_body_content .mc_link.mc_text {
    text-decoration: underline;  
    cursor: pointer;
    color: lightblue;
}

/* For figure elements (ex. an image) that are going to be a link */
#mlab_editor .mc_link.mc_figure,
.mlab_main_body_content .mc_link.mc_figure {
    
}

/* For elements that are going to link to somthing internally/in the app  */
#mlab_editor .mc_link.mc_internal,
.mlab_main_body_content .mc_link.mc_internal {
    
}

/* For elements that are going to link to something externally/outside the app */
#mlab_editor .mc_link.mc_external,
.mlab_main_body_content .mc_link.mc_external {
    
}

/* For a list of elements that are going to link to something - ( ex. an index) */
#mlab_editor .mc_link.mc_list,
.mlab_main_body_content .mc_link.mc_list {
    
}


/* ==========================================================================
   Interactive -for elements that the user is going to interact with
   ========================================================================== */
/* */
#mlab_editor .mc_interactive,
.mlab_main_body_content .mc_interactive {
    //color: blueviolet;
    cursor: pointer;
}

/* */
#mlab_editor .mc_interactive.mc_map,
.mlab_main_body_content .mc_interactive.mc_map {
    border: none;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* video - audio*/
#mlab_editor .mc_interactive.mc_timebased,
.mlab_main_body_content .mc_interactive.mc_timebased {
    border: none;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* */
#mlab_editor .mc_interactive.mc_live_output,
.mlab_main_body_content .mc_interactive.mc_live_output {
    
}


/* ==========================================================================
   Entry -for elements that requiers an input/entry from the user
   ========================================================================== */
/* */
#mlab_editor .mc_entry.mc_list,
.mlab_main_body_content .mc_entry.mc_list {
    
}

/* ? */
#mlab_editor .mc_entry.mc_input,
.mlab_main_body_content .mc_entry.mc_input {
    background-color: white;
    border: 2px inset;
    color: black;
    top:0;
}

/* ? For entry elements that will give an output to display */
#mlab_editor .mc_entry.mc_output,
.mlab_main_body_content .mc_entry.mc_output {
    
}

/* For entry elements with requerd input */
#mlab_editor .mc_entry.mc_required,
.mlab_main_body_content .mc_entry.mc_required {
    color: red;
}

/* Text for entry elements (typically labels) */
#mlab_editor .mc_entry.mc_info,
.mlab_main_body_content .mc_entry.mc_info {
    color: white;
}

/* highlight */
#mlab_editor .mc_entry.mc_input.mc_correct,
.mlab_main_body_content .mc_entry.mc_input.mc_correct {
    color: rgb(59, 190, 65);
}

#mlab_editor .mlab_dt_large_input.mc_blurred,
#mlab_editor .mlab_dt_medium_textarea.mc_blurred,
.mlab_main_body_content .mlab_dt_large_input.mc_blurred,
.mlab_main_body_content .mlab_dt_medium_textarea.mc_blurred {
    color: lightgray;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
/* */
#mlab_editor .mc_button,
.mlab_main_body_content .mc_button {
    padding: 0.3em;
    margin: 0;
    height: 1.6em;
    font-size: 0.8em;
    background-color: #0C365C;
    background-image: none;
    border: none;
    outline: none;
    border-radius: 2px;
    color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: top;
    word-wrap: break-word;
    cursor: pointer;
    box-shadow: none;
    width: auto;
}

/*  */
#mlab_editor .mc_button.mc_small,
.mlab_main_body_content .mc_button.mc_small {
    padding: 0.2em;
    height: 1.4em;
    font-size: 0.7em;
}

/* */
#mlab_editor .mc_button.mc_medium,
.mlab_main_body_content .mc_button.mc_medium {
    padding: 0.3em;
    height: 1.6em;
    font-size: 0.8em;
}

/*  */
#mlab_editor .mc_button.mc_large,
.mlab_main_body_content .mc_button.mc_large {
    padding: 0.5em;
    height: 2em;
    font-size: 1.1em;
}




/* ==========================================================================
   Space - ekstra margin and padding
   ========================================================================== */
/* */
#mlab_editor .mc_small_outside_space,
.mlab_main_body_content .mc_outside_space.mc_small {
    margin: 0.2em;
}

/* */
#mlab_editor .mc_medium_outside_space,
.mlab_main_body_content .mc_outside_space.mc_medium {
    margin: 0.7em; 
}

/*  */
#mlab_editor .mc_large_outside_space,
.mlab_main_body_content .mc_outside_space.mc_large {
    margin: 1.2em; 
}

#mlab_editor .mc_container .mc_list .mc_heading,
.mlab_main_body_content .mc_container .mc_list .mc_heading, 
#mlab_editor .mc_container .mc_list .mc_item,
.mlab_main_body_content .mc_container .mc_list .mc_item {
    outline: 1px dotted orange;
    width: 30px;
}
