{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}
    <h1>Category list</h1>

    {% autoescape false %}{{ category_tree }}{% endautoescape %}

    <p>
        <a href="{{ path('category_new') }}">
            Create a new top level category
        </a>
    </p>
    {% endblock %}
