{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Cecilie Jackbo Gran/Sinett 3.0 programme (firstname.middlename.lastname@ffi.no)
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}
    
    <table class="records_list">
        <tr>
            <th></th>
            <th><a class="mlab_button_new_category" href="{{ path('category_new', { 'id': 0 }) }}" title="{% trans %}app.admin.categories.tooltip.new{% endtrans %}"></a></th>
        </tr>
        <tr>
            <td class="mlab_min_width_long">
                <div id="table_category">
                    {% autoescape false %}{{ category_tree }}{% endautoescape %}
                </div>
            </td>
            <td class="mlab_min_width_short"></td>
        </tr>
     </table>

{% endblock %}