{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}

	<div id="table_category">
    	{% autoescape false %}{{ category_tree }}{% endautoescape %}
	</div>
    <p>
        <a class="mlab_button_new_component" href="{{ path('category_new', { 'id': 0 }) }}" title="{% trans %}app.admin.components.tooltip.new{% endtrans %}"></a>
    </p>
    {% endblock %}
