{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}
    <h4>{% trans %}app.admin.categories.new.heading{% endtrans %}</h4>

    {{ form(form) }}

{% endblock %}