<!DOCTYPE html>
<html>
<head>
<title>Add page title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="mlab:app_uid" content="%%APP_UID%%" />
<link rel="stylesheet" href="./css/include.css">
<link rel="stylesheet" href="./css/jquery-mobile.css">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/style_rt.css">
<link rel="stylesheet" href="./css/mlab_component.css">
<script src="./js/jquery.js"></script>
<script src="./js/jquery-ui.js"></script>
<script src="./js/jquery-mobile.js"></script>
<script src="./js/mlab.api.js"></script>
<script src="./js/basic.js"></script>
<script src="./js/include.js"></script>

<script>
		$(function(){
			$("[data-role=header],[data-role=footer]").toolbar();
            $( "[data-role='panel']" ).panel();
		});
</script>

<script>
    //<![CDATA[
    
    /**
     * When document is ready we initialise the load code for the jquery mobile functionality
     * This is done by assigning the mlab.api.navigation.pageDisplay call to various page navigation elements
     * @type type
     */
    function mlabInitialiseApp() {
        console.log("FUNCTION: mlabInitialiseApp");
//Uses on pagecreate to get the page name to display when the page is loaded the first time
/*        $( document ).on( "pagebeforeshow", function( event ) {  
            console.log("FUNCTION: pagebeforeshow");
            var page = $.mobile.pageContainer.pagecontainer('getActivePage');
            var pageTitle = page.data("title");
            page.find(".mlab_page_name").text(pageTitle);
        });
*/        
        mlab.api.navigation.initialise(0, "%%MLAB_CT_FUNC_GETNUMBEROFPAGES%%");
        
    };
  
    $(document).on('pagecreate', '#mlab_index_page', function(e) {
        console.log("EVENT: pagecreate for index page");
  
        //Opens the previous page 
        $(".mlab_nav_previous_page").on("click", function () { mlab.api.navigation.pageDisplay("previous"); });
        //Opens the next page 
        $(".mlab_nav_next_page").on("click", function () { mlab.api.navigation.pageDisplay("next"); });
        //Toggles the text and background color            
        $(".mlab_btn_color_toggle").on("vclick", function () { mlab.api.settings.pageColorToggle("mlab_page_body", "mc_text"); });
        //Toggles the text size between 100% and 130%       
        $(".mlab_btn_txsize_toggle").on("vclick", function () { mlab.api.settings.pageTextSizeToggle("mlab_main_body_content"); });

    });
</script>


</head>
<body id="mlab_page_body">
               <!-- MENU Panel -->
        <div data-role="panel" id="mlab_menu_panel" data-position="left" data-display="overlay" data-theme="a" class="mlab_menu_panel mlab_hide_in_app_builder ui-panel ui-panel-position-left ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open">
            <div class="ui-panel-inner">
                <!-- Menu panel content goes here -->
                <a href="#" data-rel="close"><div class="mlab_btn_close_menu"></div></a>
                <div class="mlab_menu_heading">Meny</div>
                <hr class="mlab_hr_panel">
                <div class="mlab_menu_text">%%MLAB_CT_COMP_INDEX%%</div>
            </div>
        </div><!-- /Menu panel -->
        
         <!-- SETTINGS Panel -->
        <div data-role="panel" id="mlab_settings_panel" data-position="right" data-display="overlay" data-theme="b" class="mlab_settings_panel mlab_hide_in_app_builder ui-panel ui-panel-position-right ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open">
            <div class="ui-panel-inner">
                <!-- Settings panel content goes here -->
                <div class="mlab_creators">Made by Sinett</div> 
                <a href="#" data-rel="close"><div class="mlab_btn_close"></div></a>
                <div class="mlab_settings_heading">Settinger</div>
                <hr class="mlab_hr_panel">
                <div class="mlab_btn_color_toggle"></div>
                <div class="mlab_btn_txsize_toggle"></div> 
            </div>
        </div><!-- /Settings panel -->
        
        <!-- The HEADER with navigation, menu and settings -->
        <div data-role="header" data-theme="a" class="mlab_header mlab_hide_in_app_builder" data-position="fixed">  
            <div class="mlab_header_box">
                <a href="#mlab_menu_panel"><div class="mlab_btn_menu btn_secondary"></div></a>
                <div class="mlab_nav_previous_page"></div>
                <div class="mlab_page_name"></div> 
                <a href="#mlab_settings_panel"><div class="mlab_btn_settings"></div></a>
                <div class="mlab_nav_next_page"></div>
            </div>
        </div><!-- /Header -->
        
    <div data-role="page" id="mlab_index_page">
        
        <!-- The CONTENT of the page - are filled in via the App builder -->
        <div class="mlab_content_wrapper">
            <div role="main" class="mlab_main_body_content">
                <div id="mlab_editable_area" class="mlab_editable_area">
                    <!-- Where the content/components is placed -->
                </div>
            </div>
        </div><!-- /Content -->

    </div>   
        
    <script>
        $( document ).on( "pagecreate",function ( event ) {
            
            if (mlab.api == null) {
               var curr_page = 0;
            } else {
                var curr_page = mlab.api.navigation.current_page;
            }

            var last_page = Number("%%MLAB_CT_FUNC_GETNUMBEROFPAGES%%");
            switch (curr_page) {

                case 0:
                    //First page in the app
                    if ($(".mlab_nav_previous_page").hasClass('mlab_hide')) {
                        // do nothing
                    } else {
                        //hide the previous button on the first page
                        $(".mlab_nav_previous_page").addClass('mlab_hide'); 
                    }
                    if (last_page == 0) {
                        //the app only has one page - hide the next button
                        $(".mlab_nav_next_page").addClass('mlab_hide'); 
                    } else if ($(".mlab_nav_next_page").hasClass('mlab_hide')) {
                        $(".mlab_nav_next_page").removeClass('mlab_hide');
                    }
                    break;

                case last_page:
                    //Last page in the app and the app has more than one page
                    console.log("curr_page == LAST PAGE -  gggggggggg" + "%%MLAB_CT_FUNC_GETNUMBEROFPAGES%%" + "side");
                    if ($(".mlab_nav_next_page").hasClass('mlab_hide')) {
                       // do nothing
                    } else {
                         //hide the next button on the last page
                        $(".mlab_nav_next_page").addClass('mlab_hide');
                    }
                    
                     if ($(".mlab_nav_previous_page").hasClass('mlab_hide')) {
                        $(".mlab_nav_previous_page").removeClass('mlab_hide');
                    }
                    break;

                default:
                    if ($(".mlab_nav_next_page").hasClass('mlab_hide')) {
                        $(".mlab_nav_next_page").removeClass('mlab_hide');
                    }
                    if ($(".mlab_nav_previous_page").hasClass('mlab_hide')) {
                        $(".mlab_nav_previous_page").removeClass('mlab_hide');
                    }
                    break;
            }
       
    });
         
</script>
</body>
</html>