{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}

    <table class="records_list" id="table_template">
        <thead>
            <tr>
                <th>{% trans %}app.admin.templates.name{% endtrans %}</th>
                <th>{% trans %}app.admin.templates.version{% endtrans %}</th>
                <th>{% trans %}app.admin.templates.description{% endtrans %}</th>
                <th>{% trans %}app.admin.templates.groups{% endtrans %}</th>  
                <th>{% trans %}app.admin.templates.enabled{% endtrans %}</th>
                <th class="mlab_min_width_short"> 
                	<a class="mlab_button_new_template" href="{{ path('template_new') }}" title="{% trans %}app.admin.templates.tooltip.new{% endtrans %}"></a>
                </th>              
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        	{{ include( 'SinettMLABBuilderBundle:Template:show.html.twig', { 'entity': entity } ) }}
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
