{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}
    <h1>Template list</h1>

    <table class="records_list" id="table_template">
        <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Description</th>
                <th>Compatible with</th>
                <th>Groups</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        	{{ include( 'SinettMLABBuilderBundle:Template:show.html.twig', { 'entity': entity } ) }}
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('template_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
