/* Style Sheet for Diakonhjemmet Mlab template
    Created on : 02.nov.2017, 17:39:40
    Author     : Arild Bergh, based on design by "Design by Maia" and an original template by Cecilie Jackbo Gran @ Sinett/FFI.no
        Colours used in this design are:
        Dark blue (navy) - #627895
        Aqua - #59caca
        Light grey - #f1f1f1
        Black - #000000
        Dark grey: #cccccc
        Wrong (red): #f66060
        Correct (green): #42cb8c
*/


/* ==========================================================================
   Page
   ========================================================================== */
#mlab_page_body .mlab_content_wrapper {
   margin-top: 2%;
   margin-bottom: 2%;
   margin-left: 5%;
   margin-right: 5%;
}

#mlab_page_body .mlab_main_body_content {
    overflow-y: visible;
}


/* ==========================================================================
   Typography
   ========================================================================== */
#mlab_page_body .mlab_main_body_content {
    font-size: 100%;
}


/* ==========================================================================
   Header
   ========================================================================== */
#mlab_page_body .mlab_header {
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
    opacity: 1;
    z-index: 120 !important;
    background-color: #f1f1f1;
    height: 80px;
}

#mlab_page_body .mlab_header_box {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#mlab_page_body .mlab_header_name {
    font: 1.7em Arial;
    line-height: normal;
    color: #59caca;
    width: 1em;
    height: 50px;
    float: left;
    line-height: 1em;
    margin: 15px 0;
}

#mlab_page_body .mlab_page_name {
    float: left;
    max-width: 50%;
    width: 50%;
    margin-top: 4%;
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 100%;
    font-size: 4vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    font-family: Arial,sans-serif;
}

#mlab_page_body .mlab_btn_menu,
#mlab_page_body .mlab_logo {
    background-image: url('./img/microscope.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    float: left;
    width: 50px;
    height: 50px;
    margin: 15px 0 15px 20px;
}

#mlab_page_body .mlab_btn_menu {
    background-image: url('./img/hamburger.svg');
    float: right;
    width: 34px;
    height: 34px;
    margin: 23px 25px 23px 0;
}

/* ==========================================================================
   Menu and Settings Panel
   ========================================================================== */

#mlab_page_body #mlab_menu_panel > div.mlab_menu_text {
    width: 100%;
}

/* Top level PAGES in menu (not inside sections) */
#mlab_page_body #mlab_menu_panel > div.mlab_menu_text a.mc_text.mc_display.mc_list.mc_link.mc_internal {
    padding: 0.8em;
    border-top: 1px solid #fff;
    display: list-item;
    list-style: none;
}

/* First level SECTIONS in menu */
#mlab_page_body #mlab_menu_panel > div.mlab_menu_text details > summary {
    padding: 0.8em;
    border-top: 1px solid #fff;
}

/* hide default marker for summary drop down */
#mlab_page_body #mlab_menu_panel > div.mlab_menu_text details summary::-moz-details-marker {
    display: block;
}
#mlab_page_body #mlab_menu_panel > div.mlab_menu_text details summary::-webkit-details-marker {
    display: none;
}

#mlab_page_body #mlab_menu_panel > div.mlab_menu_text details > summary::before,
#mlab_page_body #mlab_menu_panel > div.mlab_menu_text details > details > summary::before  {
    content: "\002B\0020";
}

#mlab_page_body #mlab_menu_panel > div.mlab_menu_text details[open] > summary::before,
#mlab_page_body #mlab_menu_panel > div.mlab_menu_text details[open] > details[open] > summary::before  {
  content: "\002D\0020";
}

/* PAGES inside first level SECTIONS in menu */
#mlab_page_body #mlab_menu_panel > div.mlab_menu_text details a.mc_text.mc_display.mc_list.mc_link.mc_internal {
    padding: 0.2em;
    padding-left: 20px;
    color: #a7e4e4;
    border-top: none;
}

#mlab_page_body #mlab_menu_panel > div.mlab_menu_text details p:last-child {
    padding-bottom: 0.8em;
}

/* Second level SECTIONS in menu */
#mlab_page_body #mlab_menu_panel > div.mlab_menu_text details > details > summary  {
    padding: 0.2em;
    padding-left: 20px;
    color: #a7e4e4;
    border-top: none;
}

/* PAGES inside second level SECTIONS in menu */
#mlab_page_body #mlab_menu_panel > div.mlab_menu_text details > details a.mc_text.mc_display.mc_list.mc_link.mc_internal {
    padding-left: 40px;
    color: #59caca;    
}

#mlab_page_body .mlab_menu_panel, 
#mlab_page_body .mlab_settings_panel {
    padding: 1%;
    background-color: #627895;
    font-family: Arial;
    font-size: 1em;
    color: white;
    height:auto;
    /*height: calc(100% - 10px);
    min-height: calc(100% - 10px);
    max-height: calc(100% - 10px);*/
}

#mlab_page_body .mlab_settings_heading,
#mlab_page_body .mlab_menu_heading {
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 1.2em;
    cursor: pointer;
}

#mlab_page_body .mlab_settings_heading {
    padding-top: 2em;
}

#mlab_page_body .mlab_hr_panel {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#mlab_page_body .mlab_settings_text,
#mlab_page_body .mlab_menu_text {
    font-size: 0.9em;
    /* adds scrollbar to page fo some reason, even when using calc and deducting from height
    margin-top: 0.5em; */
    cursor: alias;
    height: calc(100% - 80px);
    float: right;    
}

#mlab_page_body .mlab_menu_text .mc_text.mc_display.mc_list.mc_bullet.mc_link.mc_internal {
    padding: 0.2em 0.2em;
    list-style: none;
}
    
#mlab_page_body .mlab_btn_color_toggle, 
#mlab_page_body .mlab_btn_txsize_toggle,
#mlab_page_body .mlab_btn_close,
#mlab_page_body .mlab_btn_close_menu {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 4em;
    float: left; 
    background-image: url('./img/btn_color_toggle.svg');
    cursor: pointer;
}

#mlab_page_body .mlab_btn_txsize_toggle {
    background-image: url('./img/btn_txsize.svg');
}

#mlab_page_body .mlab_btn_close,
#mlab_page_body .mlab_btn_close_menu {
    background-image: url('./img/exit.svg');
    margin: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 1.8em;
}

#mlab_page_body .mlab_btn_close_menu {
    width: 100%;
    height: 4em;
    padding: 0;
    margin-top: -1em;
    margin-left: -0.8em;
}

#mlab_page_body .mlab_creators {
    font-size: 0.7em;
    cursor: alias;
}

#mlab_page_body.mlab_color_toggle {
    background-color: white;
}

#mlab_page_body .mlab_main_body_content .mc_text.mlab_color{
    color: black;
}

#mlab_page_body .mlab_main_body_content.mlab_large_text{
    font-size: 130%;
}

#mlab_page_body .mlab_hide {
    visibility:hidden !important;
}

/* ==========================================================================
  To hide an element from the app builder - add the class "mlab_hide_in_app_builder"
  to the element - the App Builder will have a stylesheet with the syntax:

.mlab_hide_in_app_builder {
    display: none !important;
}
========================================================================== */

/* hide the title of the a1empp in menu */
div.mlab_menu_text h2 {
    display: none;
}

/* modern clearfix, needed for image quiz, but good in general */
div[data-mlab-type]:after {
    content: "";
    display: table;
    clear: both;
}

/* OLD menu stuff
div[data-mlab-type] .mc_index details > p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1rem;
    cursor: pointer;
    color: white;
    padding: 0 0 0 3rem;
    margin: 0.3rem 0;
}

div[data-mlab-type] .mc_index details > summary {
    font-size: 1.45rem;
    font-weight: bold;
    color: white;
    list-style: none;
    padding: 0.5rem 2rem;
    outline: none;
    cursor: pointer;
}

div[data-mlab-type] .mc_index details > summary:before {
    content: "";
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 0.7rem 0 0.5rem 0;
    margin: 0 -0.5rem;
}

div[data-mlab-type] .mc_index details:last-child::after {
    content: "";
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 0.7rem 0 0 0;
    margin: 0 1.5rem;
}

div[data-mlab-type] .mc_index details[open] > summary:after {
    content: "";
    border-right: 3px solid;
    border-bottom: 3px solid;
    height: 12px;
    width: 12px;
    float: right;
    margin: 3px 12px;
    transform: rotate(225deg);
}

div[data-mlab-type] .mc_index details[open] > summary {
    padding-bottom: 0;
}

div[data-mlab-type] .mc_index details > summary::-webkit-details-marker {
    display: none;
}

div[data-mlab-type] .mc_index details > summary:after {
    content: "";
    border-right: 3px solid;
    border-bottom: 3px solid;
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
    float: right;
    margin: 3px 12px;
}
*/
b {
    color: #627895;
}