<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Hello World</title>
    </head>
    <body>
      <div class="container-fluid" id="header">
	  <div id="brand"></div> 
	  <div id="div_topp_hoyre"></div> 
	  <div id="div_topp_midten">Forsiden</div>
      </div>
      <div  class="lyrow ui-draggable">
	<div data-type="text" class="view box box-element ui-draggable" style="display: block;">
	  <div class="view">
	    <div contenteditable="false">%s</div>
	  </div>
	</div>
	<span  class="drag label"><i class="icon-move"></i></span>
	<div class="view">
	  <div class="row-fluid clearfix">
	    <div class="span12 column ui-sortable">
	      <div class="box box-element ui-draggable" > <a class="remove label label-important" href="#close"><i class="icon-remove icon-white"></i></a> <span class="drag label"><i class="icon-move"></i></span>
		<div class="view">
		  <h2 contenteditable="true">Frontpage</h2>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="container-fluid" id="footer"></div>
      <script type="text/javascript" src="cordova-2.6.0.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>


