html, body {
    width: 750px;
    counter-reset: h1counter;
}
pre, code {
    background-color: lightgrey;
    margin: 0; 
    padding: 0.3em 1em;
    white-space: pre-wrap;
}
ol, ul {
    list-style-position: outside;
    margin-left: 1em; 
    padding-left: 1em;
}
ul { list-style: outside disc none; }
li { padding-left: 1em; }

.columns li {
    line-height: 1.2em;
    float: left;
    display: inline;    
    width:30%;
}

h1, h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1em;
}
h1 { counter-reset: h2counter; }
h2 { counter-reset: h3counter; }
h1:before {
    content: counter(h1counter) ".\0000a0";
    counter-increment: h1counter;
}
h2:before {
    content: "\0000a0\0000a0" counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
}
h3:before {
    content: "\0000a0\0000a0\0000a0\0000a0" counter(h1counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}             

.nocounter:before {
    content: none;
    counter-increment: none;
}

.nocounter {
    font-size: 2.2em;
    color: darkblue;
}


/* Style the tab */
div.tab {
    overflow: hidden;
    height: 30px;
    padding: 0px;
    clear: both;
    border-bottom: 1px solid #ccc
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    padding: 3px 10px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #ccc;
    margin-top: 1px;
    margin-right: 1px;
    border-bottom: none;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
    border-color: #ccc;
    margin-top: 2px;
    margin-left: 1px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 30px;
}

.important {

    background-color: lightsalmon;
    color: darkblue;
    border: 1px solid darkgray;
    padding: 3px;
    font-family: sans-serif;
    text-align: justify;
}

p, div, ul, ol, pre {
    margin-left: 50px;
}
div p, div div, div ul, div ol, div pre {
    margin-left: 0;
}

code {
    line-height: 150%;
}