#header{
    background-image:  url('../img/topp_midten.png');
    background-repeat: repeat-x;
    background-color: #808080;
    height: 39px;
    padding:0 0 4px 0 !important;
    position: relative;

}
#brand{
    background-image: url('../img/topp_venstre.png');
    background-repeat: no-repeat;
    left:0px;
    top:0px;
    width: 136px;
    height: 39px;
    position: absolute;
    z-index: 2;
}

#div_topp_midten {
    background: none repeat scroll 0 0 transparent;
    font-size: 10px;
    padding-top: 22px;
    margin-left: 136px;
    width: auto;
    color: white;
}

#div_topp_hoyre {
    background-image: url("../img/topp_hoyre.png");
    float: right;
    width: 143px;
    height: 39px;
}

.coolheader, .coolfooter {
    background-color: black;
    color: white;
    height: 20px;
    width: 100%;
}
