/* Style Sheet for the Basic template
   Developer: Cecilie Jackbo Gran @ Sinett/FFI.no
*/

/* TODO - annet navn enn #page???????? */

/* ==========================================================================
   Page
   ========================================================================== */

#mlab_editor_chrome #page,
#page {
    font-size: 1em;
    font-family: Arial,sans-serif;
    font-style: normal;
    margin: 0.6em 0;
    color: #CCCCCC;
    line-height: 1em;
    text-shadow: none;
}

/* #page [data-role="content"] {
    font-size: 1em;
    font-family: Arial,sans-serif;
    font-style: normal;
    color: #CCCCCC;
    line-height: 1em;
    text-shadow: none;
} */

#mlab_editor_chrome #page,
#page {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    background-color: #1e1e1e;
}

#page #content {
    padding: 10px;
}


/* ==========================================================================
   Component styling
   ========================================================================== */
#page h1 {
    font-size: 1.45em;
    line-height: 1.1em;
    margin: 1em 0;
}

#page h2 {
    font-size: 1.27em;
    line-height: 1.1em;
    margin: 1em 0;
}

#page h3 {
    font-size: 1.12em;
    line-height: 1.1em;
    margin: 1em 0;
}

#page p {
    font-size: 1em;
    line-height: 1.1em;
    margin: 1em 0;
}

#page ol {
    margin: 0;
    list-style-type: decimal;
    list-style-position:outside;
    padding:0 2em 0 1.25em;
}

#page ul {
    margin: 0;
    list-style-type: square;
    list-style-position:outside;
    padding:0 2em 0 1.25em;
}

#page img {
    margin: 0;
    padding: 10px;
    border: none;
}

#page map {
    margin: 0;
    padding: 10px;
    border: none;
}

#page video {
    margin: 0;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%    !important;
    height: auto   !important;
}

#page iframe {
    margin: 0;
    padding: 5px;
    border: none;
    cursor: pointer;
}

#page div {
    margin: 0;
    padding: 0;
    border: none;
}

#page figure {
    margin: 7px 25px 0px 0px;
}

#page figure img {
   padding-bottom: 5px;
}

#page figure figcaption {
   text-align: center;
   font-style: italic;
   font-size: 14px;
}

