body{
	margin: 0px;
}

#surround_all{
	margin: 0px;
	/* zoom: 50%; */
}

#header {
    background-image:  url('../img/indexpage_header_backgr.png');
    background-repeat: repeat-x;
    height:197px;
    position: relative;

}

#military_branch {
    position: relative;
    height: 6px; /* egentlig 1/3 av 39px = 3,6% */
}

#military_branch.joint {
    background-color: #622567;
}

#military_branch.air {
    background-color: #5e9cae;
}

#military_branch.navy {
    background-color: #0065bd;
}

#military_branch.army {
    background-color: #e00034;
}

#military_branch.homeguard {
    background-color: #009b3a;
}

#menu_button_logo_open_close, #menu_button_goto_index, #menu_button_toggle_color, #menu_button_toogle_fontsize, #menu_end_sloped_img {
    background-repeat: no-repeat;
    top: 19px; /* 39px = 3,6% */
    position: absolute;
    width: 59px; /* 117px = 10,8% */
    height: 57px;
    z-index: 2;
}

#menu_button_logo_open_close {
    background-image: url('../img/btn__01_logo.png');
    left: 19px;
}

#menu_button_goto_index {
    background-image: url('../img/btn__02_index.png');
    left: 78px;
}

#menu_button_toggle_color {
    background-image: url('../img/btn__03_color.png');
    left: 136px; /* 273px */
}


#menu_button_toogle_fontsize {
    background-image: url('../img/btn__04_size.png');
    left: 194px; /* 390px */
}


#menu_end_sloped_img {
    background-image: url('../img/btn__05_end.png');
    left: 252px; /* 507px */
}

#app_title {
 	position: absolute;
 	bottom: -2px;
 	left: 78px;
 	margin-right: 19px;
 	margin-bottom: 19px;
	color: #ffffff;
	font-size: 2.2em;
	font-family:  Arial;
	font-weight: bold;
}

#content_background.dark, #content_background.white {
	float: auto;
	width: auto;
	min-height: 254px;
	background-color: #000000;
}

#content_background.white {
	background-color: #ffffff;
}

#margin_twiiik {
	padding-bottom: 19px;
}

#index_list_item.dark, #index_list_item.white{
	background-color: #1e1e1e;
	border-top: 2px solid;
	border-color: #333333;
	margin-left: 19px;
	margin-right: 19px;
	margin-bottom: 6px;
	padding: 19px;
	padding-left: 59px;
	color: #999999;
	font-size: 1.3em;
	font-family:  Arial;
	font-weight: normal;
}

#index_list_item.white{
	background-color: #eeeeee;
	border-color: #cccccc;
	color: #000000;
}