/* Style Sheet for the Basic template
   Developer: Cecilie Jackbo Gran @ Sinett/FFI.no

#page_body #content .mlab_rt_MYCLASS
*/


/* ==========================================================================
   Text
   ========================================================================== */
//UTGÅR TIL JS SCRIPT? så siden fortsetter å ha stor tekst når man bytter side
#page #content .large_text{
    font-size: 120%;
    line-height: 120%;
}

//UTGÅR TIL JS SCRIPT? så siden fortsetter å ha sort tekst når man bytter side
/* Text is set to black when page background is set to white */
#page #content .white [data-role="content"] {
    color: #000000;
}

/* Pagenumber text */
.ui-page-theme-a {
    font-size: 1em;
    font-family: Arial,sans-serif;
    font-style: normal;
    margin: 0.6em 0;
    color: #CCCCCC;
    line-height: 1em;
    text-shadow: none;
}

/* ==========================================================================
   Header with menu
   ========================================================================== */
#header {
    padding: 0;
    margin: 0;
    background-image: url('./img/contentpage_header_backgr.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: bottom;
    border-width: 0;
    border-style: hidden;
    overflow: hidden;
    opacity: 1;
    z-index: 120 !important;
    border-width: 0 0 0.15em 0;
    border-style: solid;
    border-color: #666666;
}

#menu_box{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#marg_top_menu{
    padding: 0;
    margin: 0;
    padding-bottom: 3.6%;
}

#marg_left_menu{
    padding: 0;
    margin: 0;
    padding-bottom: 1%;
    width: 3.6%;
    float: left; 
}

#btn_heraldisk, #btn_menu, #btn_color_toggle, #btn_txsize, #btn_end, #btn_settings{
    padding: 0;
    margin: 0;
    background-image: url('./img/btn_heraldisk.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 10.75%;
    width: 10.8%;
    float: left;  
    margin-right: -0.1%;
    margin-left: -0.1%;
}

#btn_menu {
    background-image: url('./img/btn_menu.svg');
    margin-left: -0.01%;
}

#btn_color_toggle {
    background-image: url('./img/btn_color_toggle.svg');
}

#btn_txsize {
    background-image: url('./img/btn_txsize.svg');
}

#btn_end {
    background-image: url('./img/btn_end.svg');
    margin-left: -0.001%;
    
}

#btn_settings {
    background-image: url('./img/btn_menu.svg');
    float: right;
    
}

btn_secondary.hide_it {
    display: none;
}


/* ==========================================================================
   modal window
   ========================================================================== */

/* Z-index of #mask must lower than #boxes .window */
#mlab_mask {
    position:absolute;
    z-index:9000;
    background-color:#000000;
    display:none;
    top: 0;
    left: 0;
}
  
#mlab_boxes .mlab_window {
    position:fixed;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
}
/* Customize your modal window here, you can add background image too */
#mlab_boxes #mlab_dialog {
    width:375px; 
    height:203px;
}


/* ==========================================================================
   Left and right navigation panel
   ========================================================================== */
#panel_left, #panel_right {
    padding: 0;
    padding-bottom: 8%;
    width: 7.2%;
    margin: 2%;
    //width: 60px;
    //height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    //position: fixed;
    //display: block;
    //top: 39.5%;
    //z-index: 99; 
    //border: 1px red solid;
}

#mlab_page_num {
    float: left;
    margin-left: 35%;
    margin-top: 5%;
}

#panel_left {
    background-image: url('./img/contentpage_dark_backpage.svg') !important;
    //left: 0;
    float: left;
    //margin-left: 2%;
}


#panel_right {
    background-image: url('./img/contentpage_dark_nextpage.svg') !important;    
    //right: 0;
    float: right;
    //margin-right: 2%;
}

#page.white #panel_left {
    background-image: url('./img/contentpage_white_backpage.svg') !important;
}


#page.white #panel_right {
    background-image: url('./img/contentpage_white_nextpage.svg') !important;    
}

/* ==========================================================================
   Gradient top and bottom
   ========================================================================== */
#gradient_top, #gradient_bottom{
    width: 100%;
    padding-bottom: 10.8%;
}

#gradient_top, #gradient_bottom {
    position: fixed;
    display: block;
}

#gradient_top {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 5%,  rgba(0, 0, 0, 0) 100%);
}

#gradient_bottom{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,  rgba(0, 0, 0, 1) 95%);
}

#gradient_bottom {
    bottom: 0;
}

#page.white #gradient_top{
    background: linear-gradient(to bottom, rgba(256, 256, 256, 1) 5%,  rgba(0, 0, 0, 0) 90%);
}

#page.white #gradient_bottom{
    background: linear-gradient(to bottom, rgba(256, 256, 256, 0) 0%,  rgba(256, 256, 256, 1) 95%);
}

/* ==========================================================================
   Content
   ========================================================================== */
div.ui-content {
   margin-top: 15%;
   margin-bottom: 7.2%;
   margin-left: 7.2%;
   margin-right: 7.2%;
}

#content {
    margin-top: 0;
    overflow-y: visible;
    overflow-x: hidden;
}


/* ==========================================================================
   Footer
   ========================================================================== */
#footer{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0);
    opacity: 1;
    border-width: 0;
    position: fixed;
    display: block;
    bottom: 0px;
    border-style: none;
}

#footer.hide_it {
    display: none;
}


/* ==========================================================================
  To hide an element from the app builder - add the class "mlab_hide_in_app_builder"
  to the element - the App Builder will have a stylesheet with the syntax:

.mlab_hide_in_app_builder {
    display: none !important;
}
========================================================================== */